/* BNPP Sans */

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/base.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/extrabold-italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/light-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
