/* BNPP Sans */

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/base.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/extrabold-italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BNPP Sans';
  src: url('/fonts/bnpp-sans/light-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Public Sans */

@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/public-sans/regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/public-sans/regular.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/public-sans/semibold-italic.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/public-sans/semibold.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/public-sans/bold-italic.woff') format('woff');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/public-sans/bold.woff') format('woff');
}

/* Font Awesome */

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('/fonts/font-awesome/fa-solid-900.woff') format('woff');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/font-awesome/fa-regular-400.woff') format('woff');
}

.font-awesome-solid {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
}

.font-awesome-regular {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  font-variant: normal;
  text-rendering: auto;
}
