html {
  @include fluid-typography();
  @include font-family('body');
}

h1 {
  @include font-size('h1');
  @include font-family('display');
}

h2 {
  @include font-size('h2');
  @include font-family('display');
}

h3 {
  @include font-size('h3');
  @include font-family('display');
}

h4 {
  @include font-size('h4');
  @include font-family('display');
}

h5 {
  @include font-size('h5');
  @include font-weight('bold');
}

h6 {
  @include font-size('h6');
  @include font-weight('bold');
}
