{
  "presets": [
    "@babel/preset-react",
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["inline-react-svg", {
    "svgo": {
      "plugins": [
        {
          "convertPathData": false
        }
      ]
    }}]
  ]
}
