$colors: (
  'green': #008855,
  'green-light': #00bb75,
  'green-dark': #005535,
  'green-darker': #003b25,
  'yellow': #ffc86f,
  'yellow-light': #ffdba2,
  'yellow-dark': #ffb53c,
  'yellow-darker': #ffa109,
  'blue': #0062ff,
  'blue-light': #3381ff,
  'blue-dark': #0058e6,
  'blue-darker': #003b99,
  'black': #000000,
  'grey': #1a1a1a,
  'grey-80': #333333,
  'grey-70': #4d4d4d,
  'grey-30': #b3b3b3,
  'grey-20': #cccccc,
  'grey-10': #e6e6e6,
  'grey-5': #f2f2f2,
  'white': #ffffff,
  'success': #00aa55,
  'success-light': #00c362,
  'success-dark': #009048,
  'success-darker': #00773b,
  'warning': #ffa109,
  'warning-light': #ffbe55,
  'warning-dark': #ee9300,
  'warning-darker': #d58400,
  'error': #cd0a0a,
  'error-light': #f41616,
  'error-dark': #b50909,
  'error-darker': #9c0808
);

$spacings: (
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  24: 1.5rem,
  32: 2rem,
  48: 3rem,
  64: 4rem,
  96: 6rem,
  128: 8rem,
  160: 10rem
);

$screens: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$font-sizes: (
  xs: (
    font-size: 0.75rem,
    line-height: 1.333
  ),
  sm: (
    font-size: 0.875rem,
    line-height: 1.429
  ),
  base: (
    font-size: 1rem,
    line-height: 1.5
  ),
  lg: (
    font-size: 1.125rem,
    line-height: 1.333
  ),
  h1: (
    font-size: 2.25rem,
    line-height: 1.225
  ),
  h2: (
    font-size: 2rem,
    line-height: 1.25
  ),
  h3: (
    font-size: 1.75rem,
    line-height: 1.285
  ),
  h4: (
    font-size: 1.5rem,
    line-height: 1.333
  ),
  h5: (
    font-size: 1.25rem,
    line-height: 1.4
  ),
  h6: (
    font-size: 1.125rem,
    line-height: 1.333
  ),
  button: (
    font-size: 14px,
    line-height: 1
  )
);

$font-families: (
  display: (
    'BNPP SANS',
    sans-serif
  ),
  body: (
    'Public Sans',
    sans-serif
  )
);

$font-weights: (
  light: 300,
  normal: 400,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800
);

$box-shadows: (
  sm: 4px 4px 20px 0 rgba(0, 0, 0, 0.1),
  md: 8px 8px 20px 0 rgba(0, 0, 0, 0.1),
  lg: 12px 12px 20px 0 rgba(0, 0, 0, 0.1),
  none: none
);

$border-radius: (
  sm: 2px,
  md: 4px,
  lg: 8px,
  round: 50%,
  none: 0
);

$overlays: (
  extra-light: 0.15,
  light: 0.3,
  medium: 0.5,
  strong: 0.75
);

$transitions: (
  sm: 300ms
);
