.ratio-auto {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@each $horizontal, $vertical in $image-ratios {
  .ratio-#{$horizontal}\:#{$vertical} {
    @include fixed-ratio($horizontal, $vertical);
  }
}

.rounded {
  img {
    border-radius: 100%;
  }
}

.desktop-size-limit {
  @include screen('lg') {
    max-height: 80vh;
  }

  img {
    width: auto !important;
  }
}
