.sb\:card {
  width: 100%;
  max-width: 3 * spacing(160);

  @include screen('md') {
    width: percentage(1/3);
  }
}

.sb\:card-flat {
  max-width: 2 * spacing(160);
}

.sb\:card-new {
  height: 2.75 * spacing(160);
}
