.sb\:card {
  width: 100%;

  @include screen('sm') {
    width: 3 * spacing(80);
  }
}

.sb\:card-flat {
  @include screen('sm') {
    max-width: 2 * spacing(160);
  }
}

.sb\:card-article {
  .card-article {
    min-height: 5.5 * spacing(80);

    @include screen('sm') {
      min-height: 4 * spacing(80);
    }
  }
}
