.sb\:card {
  width: 100%;
  width: 3 * spacing(160);

  @include screen('md') {
    width: percentage(1/3);
  }
}

.sb\:card-flat {
  max-width: 2 * spacing(160);
}

.sb\:card-new {
  min-height: 4 * spacing(80);
  width: 3 * spacing(80);
}
