.sb\:image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  .sb\:image-wrapper {
    margin: spacing(16);

    width: 100%;

    @include screen('sm') {
      width: percentage(1/3);
    }

    @include screen('md') {
      width: percentage(1/4);
    }

    .sb\:image-ratio {
      text-transform: capitalize;
    }
  }
}
