.sb\:radios {
  display: flex;
  flex-direction: column;

  @include screen('sm') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sb\:radio-wrapper {
  display: flex;
  flex-direction: column;
  margin: spacing(8);
}

.sb\:radio-title {
  @include font-size('xs');
  text-transform: capitalize;
}

.sb\:radio {
  margin: spacing(8) 0;
}

.sb\:radio-hover {
  @extend .radio-wrapper:hover;
}

.sb\:radio-focus {
  @extend .radio-wrapper:focus-within;
}
