.help-center {
  .help-center-topics {
    background-color: color('grey-5');
    padding-top: spacing(32);
    padding-bottom: spacing(32);
  }

  .help-center-topics-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{spacing(12)};
  }

  .help-center-topic-wrapper {
    margin: 0 auto;
    padding: spacing(12);

    @include screen('sm') {
      width: 50%;
    }

    @include screen('md') {
      width: percentage(1 / 3);
    }
  }

  .help-center-topic {
    @include box-shadow('sm');
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: color('white');
    padding: spacing(24) spacing(16);
    transition-duration: 0.5s;
    transition-property: transform, box-shadow;

    &:hover {
      @include box-shadow('lg');
      transform: scale(1.05);
    }
  }

  .help-center-topic-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color('grey-5');
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .help-center-topic-title {
    margin-top: spacing(16);
    margin-bottom: spacing(4);
  }
}
