.rates-and-fees {
  padding-top: spacing(32);

  .raf-rotate-hint {
    .icon {
      @include font-size('h2');
      color: color('green');
      margin-right: spacing(8);
      vertical-align: middle;
    }

    span {
      @include font-size('sm');
      vertical-align: middle;
    }
  }

  .eyebrow {
    margin-top: spacing(16);
  }

  .raf-title {
    margin-bottom: spacing(16);
  }

  .raf-intro-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include screen('md') {
      flex-direction: row;
    }

    .link {
      order: -1;
      flex-shrink: 0;
      margin-bottom: spacing(16);

      @include screen('md') {
        order: 1;
        margin-left: spacing(32);
      }
    }
  }

  .raf-intro-text {
    @include font-size('sm');
    margin-bottom: spacing(32);
  }

  .raf-accordions {
    @include screen('sm', 'down') {
      padding: 0;
    }
  }

  .accordion {
    border-bottom: none;
  }

  .accordion-expanded {
    padding-bottom: 0;
    margin-bottom: spacing(16);
    border-bottom: 2px solid color('grey-10');
  }

  .accordion-summary {
    padding: 0 spacing(16);

    &:before {
      border-bottom: 2px solid color('grey-10');
    }
  }

  .accordion-content {
    max-width: none;
  }

  .table-wrapper {
    margin-top: spacing(8);
  }

  .raf-legal-addendum {
    @include font-size('xs');

    ul {
      list-style: initial;
      padding-left: spacing(16);
    }
  }

  .breadcrumbs {
    margin-top: spacing(32);
    margin-bottom: spacing(16);
  }
}
