.terms-of-use {
  padding-top: spacing(32);

  .aside {
    @include screen('md', 'down') {
      display: none;
    }
  }

  .tos-title {
    margin-bottom: spacing(8);

    &:not(:first-child) {
      margin-top: spacing(24);
    }
  }

  .tos-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .breadcrumbs {
    margin-top: spacing(32);
    margin-bottom: spacing(16);
  }
}
