.sb\:input {
  display: flex;
  flex-direction: column;

  @include screen('sm') {
    width: 50%;
  }
}

.sb\:input-wrapper {
  display: flex;
  flex-direction: column;
  margin: spacing(8);

  &.sb\:input-focus {
    input {
      @extend .input-control:focus;
    }
  }

  &.sb\:input-error {
    margin-bottom: spacing(32);
  }
}

.sb\:input-title {
  @include font-size('xs');
  text-transform: capitalize;
}
