.card {
  @apply flex shadow-lg rounded-sm w-full h-full overflow-hidden;

  @screen sm {
    @apply flex-col;
  }

  & .card-img {
    @apply rounded-l-sm w-1/3 object-cover;

    @screen sm {
      @apply rounded-bl-none rounded-tr-sm w-full;
    }
  }

  & .card-content {
    @apply flex flex-col justify-between p-16 text-left;

    @screen sm {
      @apply flex-1 justify-end;
    }

    & .card-heading {
      @apply font-display font-bold mb-16;
    }

    & .card-text-wrapper {
      @apply hidden mb-16 flex-1;

      @screen sm {
        @apply flex items-end;
      }

      & .card-text {
        @apply text-grey-80;
      }
    }

    & .card-link {
      @apply font-bold text-green;
    }
  }
}
