.list-element-container {
  @apply p-xl;

  @screen md {
    @apply flex;
  }

  & .list-element-header {
    @apply mb-lg;

    @screen md {
      &.padded {
        @apply py-2xs px-3xl mb-0;
      }
    }

    & .list-element-header-lead {
      @apply uppercase mb-base text-grey-80;
    }

    & .list-element-header-spacer {
      @apply block border-b-2 mb-base border-yellow w-2xl;
    }

    & .list-element-heading {
      @apply text-h2;
    }

    & .list-element-header-text {
      @apply text-grey-80 hidden;

      @screen md {
        @apply block;
      }
    }
  }

  & .list-element-alt-content {
    & .list-element-header-lead {
      @apply text-green;
    }
  }

  & .list-element-items {
    @apply ml-xl py-2xs font-display;

    & .list-element-item {
      @apply relative;

      &.check:before {
        @apply w-base h-base -ml-xl absolute top-2xs;
        content: '';
        background: url('/icons/check_circle.svg');
        background-size: cover;
      }

      &:not(:last-child) {
        @apply mb-lg;
      }
    }
  }
}
