.sb\:icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;

  .sb\:icon,
  .sb\:icon-filler {
    margin: spacing(8);
  }

  .sb\:icon {
    @include box-shadow('md');
    @include border-radius('md');
    @include font-size('xs');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid color('grey-10');
    padding: spacing(16);
  }
}

.sb\:font-icons {
  .sb\:icon,
  .sb\:icon-filler {
    width: 200px;
  }

  .icon {
    @include font-size('h1');
    margin-bottom: spacing(8);
    color: color('green');
  }
}

.sb\:image-icons {
  .sb\:icon,
  .sb\:icon-filler {
    width: 300px;
  }

  img {
    margin-bottom: spacing(8);
  }
}
