// Bank Of The West Color System

// Base color definitions
$white: #ffffff;
$black: #000000;

// Greens
$base-green: #00925b;

$green: $base-green;
$green-lighten-5: lighten($base-green, 5%);
$green-darken-10: darken($base-green, 10%);
$green-darken-20: darken($base-green, 20%);

// Yellows
$base-yellow: #ffc86f;

$yellow: $base-yellow;
$yellow-lighten-10: lighten($base-yellow, 10%);
$yellow-darken-10: darken($base-yellow, 10%);
$yellow-darken-20: darken($base-yellow, 20%);

// Blues
$base-blue: #2462C6;

$blue: $base-blue;
$blue-lighten-10: lighten($base-blue, 10%);
$blue-darken-5: darken($base-blue, 5%);
$blue-darken-15: darken($base-blue, 15%);

// Greys
$base-darkgrey: #202020;

$darkgrey: $base-darkgrey;
$darkgrey-85: lighten($base-darkgrey, 15%);
$darkgrey-70: lighten($base-darkgrey, 30%);
$darkgrey-55: lighten($base-darkgrey, 45%);
$darkgrey-40: lighten($base-darkgrey, 60%);
$darkgrey-25: lighten($base-darkgrey, 75%);
$darkgrey-15: lighten($base-darkgrey, 85%);

// Success
$success-green: #00AA55;

$success: $success-green;
$success-lighten-5: lighten($success-green, 5%);
$success-darken-5: darken($success-green, 5%);
$success-darken-10: darken($success-green, 10%);

// Error
$error-red: #F64747;

$error: $error-red;
$error-lighten-10: lighten($error-red, 10%);
$error-darken-10: darken($error-red, 10%);
$error-darken-20: darken($error-red, 20%);

// color map
// used for setting color variables in root
$color-map: (
  "white": $white,
  "black": $black,
  "green": $green,
  "green-light": $green-lighten-5,
  "green-dark": $green-darken-10,
  "green-darker": $green-darken-20,
  "yellow": $yellow,
  "yellow-light": $yellow-lighten-10,
  "yellow-dark": $yellow-darken-10,
  "yellow-darker": $yellow-darken-20,
  "blue": $blue,
  "blue-light": $blue-lighten-10,
  "blue-dark": $blue-darken-5,
  "blue-darker": $blue-darken-15,
  "darkgrey": $darkgrey,
  "darkgrey-85": $darkgrey-85,
  "darkgrey-70": $darkgrey-70,
  "darkgrey-55": $darkgrey-55,
  "darkgrey-40": $darkgrey-40,
  "darkgrey-25": $darkgrey-25,
  "darkgrey-15": $darkgrey-15,
  "success": $success,
  "success-light": $success-lighten-5,
  "success-dark": $success-darken-5,
  "success-darker": $success-darken-10,
  "error": $error,
  "error-light": $error-lighten-10,
  "error-dark": $error-darken-10,
  "error-darker": $error-darken-20
);