@import 'tailwindcss/base';
@import './base/typography.css';
@import './base/grid.css';

@import 'tailwindcss/components';
@import './components/button.css';
@import './components/link.css';

@import 'tailwindcss/utilities';
