.accordion {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  padding: spacing(16) 0;
  border-bottom: 1px solid color('grey-30');

  .accordion-title {
    max-width: 75%;
  }

  .accordion-content {
    color: color('grey-70');
    margin-top: 0;
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
  }

  .icon {
    @extend .icon-plus;
    color: color('green');
  }

  &.accordion-expanded {
    .accordion-content {
      margin-top: spacing(8);
      height: auto;
    }

    .icon {
      @extend .icon-minus;
    }
  }
}

.accordion-inverted {
  border-bottom-color: color('white');

  .icon {
    color: color('white');
  }
}
