.accordion {
  padding: spacing(16) 0;
  border-bottom: 1px solid color('grey-30');

  .accordion-summary {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:before {
      content: '';
      position: absolute;
      top: -#{spacing(16)};
      bottom: -#{spacing(16)};
      left: 0;
      right: 0;
    }
  }

  .accordion-title {
    padding-right: spacing(16);
  }

  .accordion-content {
    height: 0;
    margin-top: 0;
    overflow: hidden;
    transition-duration: 0.3s;
  }

  .icon {
    @extend .icon-plus;
    @include font-size('lg');
    @include font-weight('bold');
    color: color('green');
  }

  &.accordion-expanded {
    .accordion-content {
      height: auto;
      margin-top: spacing(8);
    }

    .icon {
      @extend .icon-minus;
    }
  }

  &.accordion-table {
    border-bottom: none;

    .accordion-summary {
      padding: 0 spacing(16);

      &:before {
        border-bottom: 2px solid color('grey-10');
      }
    }

    .accordion-content {
      max-width: unset;

      .table-wrapper {
        margin-top: spacing(8);
      }
    }

    &.accordion-expanded {
      padding-bottom: 0;
      margin-bottom: spacing(16);
      border-bottom: 2px solid color('grey-10');
    }
  }
}

.accordion-inverted {
  border-bottom-color: color('white');

  .icon {
    color: color('white');
  }
}
