.app-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: spacing(16) 0;

  svg:first-of-type {
    margin-bottom: spacing(16);
  }

  @include screen('sm') {
    flex-direction: row;

    svg:first-of-type {
      margin-bottom: 0;
      margin-right: spacing(16);
    }
  }
}
