.breadcrumbs {
  @include font-size('sm');
  color: color('grey-70');

  .icon {
    @include font-size('lg');
    $margin: spacing(4) / 2;
    margin-top: -$margin;
    margin-left: $margin;
    margin-right: $margin;
    display: inline-block;
    vertical-align: middle;
  }
}
