.button {
  @include font-size('xs');
  @include border-radius('base');
  padding: spacing(12) spacing(32);
  display: inline-block;
  transition: background-color 0.3s;
}

.button-primary {
  background-color: color('green');
  color: color('white');

  &:hover {
    background-color: color('green-dark');
  }
}
