.button {
  @include font-size('button');
  @include border-radius('md');
  cursor: pointer;
  padding: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;

  .icon {
    font-size: 20px;
    margin-left: 8px;
    vertical-align: middle;
  }

  &:focus {
    @include focus-outline();
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button-icon {
  height: 48px;
  width: 48px;
  padding: 0;

  .icon {
    margin-left: 0;
  }
}

.button-primary {
  background-color: color('green');
  color: color('white');

  &:focus {
    background-color: color('green-light');
  }

  &:hover,
  &:active {
    background-color: color('green-dark');
  }

  &:disabled {
    background-color: color('grey-5');
    color: color('grey-20');
  }
}

.button-secondary {
  background-color: transparent;
  color: color('green');
  border: 1px solid color('green');

  &.button-icon {
    border-color: color('grey-20');
  }

  &:focus {
    background-color: color('green-light');
    border-color: color('green-light');
    color: color('white');
  }

  &:hover {
    background-color: color('green');
    border-color: color('green');
    color: color('white');
  }

  &:active {
    background-color: color('green-dark');
    border-color: color('green-dark');
    color: color('white');
  }

  &:disabled {
    background-color: transparent;
    color: color('grey-20');
    border: 1px solid color('grey-20');
  }
}

.button-tertiary {
  background-color: color('white');
  color: color('green');

  &:focus {
    background-color: color('grey-10');
  }

  &:hover,
  &:active {
    background-color: color('grey-5');
  }

  &:disabled {
    background-color: color('grey-5');
    color: color('grey-20');
  }
}

.button-ghost {
  background-color: transparent;
  color: color('green');

  &:hover {
    background-color: color('grey-5');
  }

  &:active {
    background-color: color('grey-10');
  }

  &:disabled {
    background-color: transparent;
    color: color('grey-20');
  }
}

.button-danger {
  background-color: color('error');
  color: color('white');

  &:focus {
    background-color: color('error-light');
  }

  &:hover {
    background-color: color('error-dark');
  }

  &:active {
    background-color: color('error-darker');
  }

  &:disabled {
    background-color: color('grey-5');
    color: color('grey-20');
  }
}
