.card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include box-shadow('xl');
  @include border-radius('sm');

  @include screen('md') {
    max-width: 2 * spacing(160);
    flex-direction: column;
  }

  &.flat {
    flex-direction: column;
    @include box-shadow('none');

    .image-block {
      width: 100%;
    }

    .card-content {
      width: 100%;
      padding: spacing(16) 0;

      .card-text-wrapper {
        display: block;
      }
    }
  }

  .image-block {
    width: percentage(1 / 3);
    @include border-radius('sm' 'none' 'none' 'sm');

    @include screen('md') {
      width: 100%;
      @include border-radius('sm' 'sm' 'none' 'none');
    }
  }

  .card-content {
    width: percentage(2 / 3);
    display: flex;
    flex-direction: column;
    padding: spacing(16);
    text-align: left;

    @include screen('md') {
      width: 100%;
      flex: 1;
      justify-content: flex-end;
    }

    .card-heading {
      margin-top: spacing(8);
      margin-bottom: spacing(8);
    }

    .card-text-wrapper {
      display: none;
      margin-bottom: spacing(24);
      flex: 1;

      @include screen('sm') {
        display: flex;
      }

      @include screen('md') {
        align-items: flex-end;
      }

      .card-text {
        color: color('grey-80');
      }
    }
  }
}
