.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  overflow: hidden;

  @include box-shadow('md');
  @include border-radius('sm');

  .image-block {
    min-width: 120px;
    width: 100%;

    @include border-radius('sm' 'sm' 'none' 'none');
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: spacing(16);
    text-align: left;

    width: 100%;
    flex-grow: 1;
    justify-content: flex-end;

    .card-heading {
      margin-top: spacing(8);
      margin-bottom: spacing(8);
    }

    .card-text-wrapper {
      margin-bottom: spacing(24);
      flex-grow: 1;

      @include screen('sm') {
        display: flex;
      }

      @include screen('md') {
        align-items: flex-end;
      }

      .card-text {
        color: color('grey-70');
      }
    }
  }

  &.card-flat {
    flex-direction: column;
    @include box-shadow('none');

    .image-block {
      width: 100%;
    }

    .card-content {
      width: 100%;
      padding: spacing(16) 0 0;

      .card-text-wrapper {
        display: block;
      }
    }
  }

  &.card-horizontal {
    @include screen('md') {
      flex-direction: row;
    }

    .image-block {
      @include screen('md') {
        width: percentage(1 / 3);
        min-width: 120px;
        @include border-radius('sm' 'none' 'none' 'sm');
      }
    }

    .card-content {
      justify-content: center;

      .card-heading {
        margin-top: 0;
      }

      .card-text-wrapper {
        flex-grow: 0;
      }
    }
  }
}
