.card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include box-shadow('lg');

  @include screen('sm') {
    max-width: 2 * spacing(160);
    flex-direction: column;
  }

  .card-img {
    width: 33.333333%;
    object-fit: cover;
    @include border-radius('sm' 'none' 'none' 'sm');

    @include screen('sm') {
      width: 100%;
      @include border-radius('sm' 'sm' 'none' 'none');
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: spacing(16);
    text-align: left;

    @include screen('sm') {
      flex: 1;
      justify-content: flex-end;
    }

    .card-heading {
      margin-bottom: spacing(16);
      @include font-family('display');
      @include font-weight('bold');
    }

    .card-text-wrapper {
      display: none;
      margin-bottom: spacing(16);
      flex: 1;

      @include screen('sm') {
        display: flex;
        align-items: flex-end;
      }

      .card-text {
        color: color('grey-80');
      }
    }

    .card-link {
      color: color('green');
      cursor: pointer;
      @include font-weight('bold');

      &:after {
        margin-left: spacing(8);
        @include font-family('font-awesome');
        @include font-weight('bold');
        content: '\f30b';
      }
    }
  }
}
