.card-article {
  @include box-shadow('sm');
  @include border-radius('md');
  height: 100%;
  display: flex;
  flex-direction: column;

  img {
    @include border-radius('md', 'md', 'none', 'none');
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: spacing(16) spacing(24);

    .link {
      @include font-size('h5');
      @include font-weight('bold');
      color: color('black');
      flex-grow: 1;
    }

    .card-tag {
      @include font-size('xs');
      @include border-radius('sm');
      background-color: color('grey-5');
      color: color('grey-70');
      padding: spacing(4);
      margin-bottom: spacing(16);
    }

    .card-subtext {
      @include font-size('sm');
      color: color('grey-70');
      margin-top: spacing(32);
    }
  }

  &.card-article-text-only {
    background-color: color('green');
    color: color('white');
    position: relative;

    .card-content {
      height: 100%;
      justify-content: center;
      align-items: center;

      .link {
        color: inherit;

        .icon {
          position: absolute;
          bottom: spacing(32);
          right: spacing(32);
        }
      }
    }
  }

  &.card-article-video {
    cursor: pointer;

    .popup-video {
      @include fixed-ratio(16, 9);
      height: auto;
      width: 100%;

      .popup-video-overlay {
        @include border-radius('md', 'md', 'none', 'none');
      }

      .popup-video-content {
        @include border-radius('md', 'md', 'none', 'none');
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover {
      .popup-video {
        .button {
          background-color: color('green-dark');
        }
      }
    }
  }

  &.card-article-services {
    position: relative;
    color: color('white');

    .ratio-auto {
      height: 100%;
      width: 100%;
    }

    img {
      @include border-radius('md');
    }

    .card-content {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
      );
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: spacing(32);

      .link {
        text-align: center;
        flex-grow: 0;
        color: inherit;
      }
    }
  }
}
