.card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include box-shadow('lg');
  @include border-radius('sm');

  @include screen('sm') {
    max-width: 2 * spacing(160);
    flex-direction: column;
  }

  &.flat {
    flex-direction: column;
    @include box-shadow('none');

    .card-img {
      width: 100%;
    }

    .card-content {
      padding: spacing(16) 0;

      .card-text-wrapper {
        display: block;
      }
    }
  }

  .card-img {
    width: percentage(1 / 3);
    object-fit: cover;
    @include border-radius('sm' 'none' 'none' 'sm');

    @include screen('sm') {
      width: 100%;
      @include border-radius('sm' 'sm' 'none' 'none');
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: spacing(16);
    text-align: left;

    @include screen('sm') {
      flex: 1;
      justify-content: flex-end;
    }

    .card-heading {
      margin-top: spacing(8);
      margin-bottom: spacing(4);
    }

    .card-text-wrapper {
      display: none;
      margin-bottom: spacing(32);
      flex: 1;

      @include screen('sm') {
        display: flex;
        align-items: flex-end;
      }

      .card-text {
        color: color('grey-80');
      }
    }
  }
}
