.checkbox-wrapper {
  display: inline-flex;
  align-items: center;

  &:hover {
    .checkbox {
      background-color: color('grey-5');
    }
  }

  &:focus-within {
    .checkbox {
      outline: 2px solid color('blue');
      outline-offset: 2px;
    }
  }

  input[type='checkbox'] {
    @extend .sr-only;

    &:disabled ~ .checkbox {
      background-color: transparent;
      border-color: color('grey-20');
      cursor: not-allowed;
    }

    &:disabled ~ .checkbox-label {
      color: color('grey-70');
      cursor: not-allowed;
    }

    &:checked ~ .checkbox {
      background-color: color('green');
      border-color: color('green');

      .fa {
        visibility: visible;
      }
    }
  }

  .checkbox {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid color('grey');
    cursor: pointer;
    @include border-radius('sm');

    .fa {
      visibility: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      color: color('white');
      font-size: spacing(12);

      @include screen('lg') {
        font-size: spacing(8);
      }
    }

    @include screen('lg') {
      height: 21px;
      width: 21px;
    }
  }

  .checkbox-label {
    @include font-size('xs');
    padding-left: spacing(12);
    cursor: pointer;

    @include screen('lg') {
      @include font-size('sm');
    }
  }
}
