.checkbox-wrapper {
  display: inline-flex;
  align-items: center;

  &:hover {
    .checkbox {
      background-color: color('grey-5');
    }
  }

  &:focus-within {
    .checkbox {
      @include focus-outline();
    }
  }

  input[type='checkbox'] {
    @include sr-only();

    &:disabled ~ .checkbox {
      background-color: transparent;
      border-color: color('grey-20');
      cursor: not-allowed;
    }

    &:disabled ~ .checkbox-label {
      color: color('grey-70');
      cursor: not-allowed;
    }

    &:checked ~ .checkbox {
      background-color: color('green');
      border-color: color('green');

      .icon {
        visibility: visible;
      }
    }

    &:checked:disabled ~ .checkbox {
      background-color: color('grey-30');
      border-color: color('grey-30');
    }
  }

  .checkbox {
    @include border-radius('sm');
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid color('grey');
    cursor: pointer;

    .icon {
      font-size: 10px;
      visibility: hidden;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      color: color('white');
    }
  }

  .checkbox-label {
    @include font-size('xs');
    padding-left: spacing(8);
    cursor: pointer;
  }
}
