.dropdown-native-wrapper {
  display: flex;
  flex-direction: column;

  .dropdown-native-group {
    @include border-radius('md');
    border: 1px solid color('grey-30');
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    .icon {
      position: absolute;
      right: spacing(12);
      color: color('green');
    }

    &.dropdown-native-inline {
      border: none;
      display: inline;

      .dropdown-native {
        padding-right: spacing(24);
      }

      .icon {
        position: relative;
        margin-left: -#{spacing(12)};
        bottom: -#{spacing(2)};
      }
    }

    &.dropdown-native-error {
      border-color: color('error');
      color: color('error');
    }
  }

  .dropdown-native {
    @include font-size('sm');
    background-color: color('white');
    padding: spacing(12);

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    flex-grow: 1;
  }

  .dropdown-helper-text,
  .dropdown-error-text {
    @include font-size('xs');
    white-space: nowrap;
    pointer-events: none;
    margin-top: spacing(4);
    color: color('grey-70');
  }

  .dropdown-error-text {
    color: color('error');

    .icon {
      margin-right: spacing(4);
    }
  }

  .dropdown-native-inline + .dropdown-helper-text,
  .dropdown-native-error + .dropdown-helper-text {
    display: none;
  }
}
