.dropdown {
  @include font-size('sm');
  @include border-radius('md');
  position: relative;
  background-color: color('white');
  border: 1px solid color('grey-30');
  cursor: pointer;

  &:focus {
    outline: none;

    .dropdown-wrapper {
      @include focus-outline();
    }
  }

  .dropdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: spacing(12);

    &:hover {
      .dropdown-arrow {
        color: color('green-dark');
      }
    }
  }

  .dropdown-arrow {
    @include font-size('lg');
    line-height: 1;
    color: color('green');
  }

  .dropdown-items {
    @include border-radius('md');
    @include box-shadow('md');
    position: relative;
    top: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid color('grey-5');
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: spacing(128);
  }

  .dropdown-placeholder {
    padding: spacing(12);
  }

  .dropdown-item {
    position: relative;
    display: flex;
    align-items: center;
    color: color('grey-70');
    padding: spacing(8) spacing(12);
    background-color: color('white');

    &:not(:first-of-type):before {
      content: '';
      display: block;
      border-top: 1px solid color('grey-10');
      position: absolute;
      top: 0;
      left: spacing(12);
      right: spacing(12);
    }

    &:hover {
      color: color('green');
    }

    &:focus {
      outline: none;
      color: color('green-dark');
    }

    .icon {
      position: absolute;
      right: spacing(12);
      color: color('green-light');
      font-size: 0.5rem;
    }
  }

  .dropdown-helper-text {
    @include font-size('xs');
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    margin-top: spacing(4);
    color: color('grey-70');
  }

  &.dropdown-open,
  &.dropdown-inline,
  &.dropdown-error {
    .dropdown-helper-text {
      display: none;
    }
  }
}

.dropdown-open {
  @include border-radius('md', 'md', 'none', 'none');

  &:focus {
    .dropdown-wrapper {
      outline: none;
    }
  }

  .dropdown-arrow {
    transform: rotate(180deg);
  }

  .dropdown-items {
    display: block;
  }
}

.dropdown-keyboard {
  &.dropdown-open:focus {
    .dropdown-placeholder {
      outline: 2px solid color('blue');
      outline-offset: -6px;
    }
  }

  .dropdown-item:focus {
    outline: 2px solid color('blue');
    outline-offset: -6px;
  }
}

.dropdown-inline {
  display: inline-block;
  border: none;
  margin: 0 spacing(4);

  &.dropdown-keyboard.dropdown-open:focus {
    .dropdown-wrapper {
      @include focus-outline();
    }
  }

  .dropdown-wrapper {
    padding: 0;
    margin-bottom: spacing(8);
  }

  .dropdown-value {
    &.primary {
      color: color('green');
    }
  }

  .dropdown-items {
    position: absolute;
    top: unset;
    right: unset;

    li:nth-child(2) .dropdown-item:before {
      border-top: none;
    }
  }

  .dropdown-placeholder {
    display: none;
  }

  .dropdown-item {
    white-space: nowrap;
    padding-right: calc(#{spacing(12)} + 24px);
  }
}

.dropdown-error {
  color: color('error');
  border-color: color('error');

  .dropdown-arrow {
    color: color('error');
  }

  .dropdown-wrapper:hover {
    .dropdown-arrow {
      color: color('error-dark');
    }
  }

  .dropdown-error-text {
    @include font-size('xs');
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    margin-top: spacing(4);

    .icon {
      vertical-align: middle;
      margin-right: spacing(4);
    }
  }

  &.dropdown-inline,
  &.dropdown-open {
    border-color: transparent;

    .dropdown-error-text {
      display: none;
    }
  }

  .dropdown-helper-text {
    display: none;
  }
}

.dropdown-disabled {
  color: color('grey-10');
  border-color: color('grey-10');
  cursor: not-allowed;

  &:focus {
    .dropdown-wrapper {
      outline: none;
    }
  }

  .dropdown-arrow {
    color: color('grey-10') !important;
  }

  .dropdown-helper-text {
    color: color('grey-10');
  }
}
