.input-block {
  position: relative;

  &.input-active {
    .input-label {
      background: color('white');
      transform: translate(#{spacing(16)}, #{spacing(8)}) scale(0.75);
    }

    .input-control {
      padding-top: spacing(24);
      padding-bottom: spacing(8);
    }
  }

  &.input-disabled {
    .input-label {
      color: color('grey-20');
    }
  }

  &.input-error {
    .input-label,
    .input-control {
      color: color('error-dark');
    }

    .input-control {
      border-color: color('error-light');
    }

    .input-help {
      color: color('error-dark');

      &:before {
        content: '\f05a';
        margin-right: spacing(8);
        @include font-family('font-awesome');
      }
    }
  }

  .input-label {
    transition: transform 300ms, color 300ms;
    transform-origin: top left;
    transform: translate(#{spacing(16)}, #{spacing(16) + spacing(4)}) scale(1);
    position: absolute;
    color: color('grey');
    @include font-size('sm');

    .input-optional {
      margin-left: spacing(4);
      color: color('grey-30');
    }
  }

  .input-control {
    transition: border 300ms, color 300ms, padding 300ms;
    outline: none;
    width: 100%;
    padding: spacing(16) spacing(16);
    border: 1px solid color('grey-30');
    color: color('grey');
    @include border-radius('base');
    @include font-size('base');

    &:focus,
    &:active {
      border-color: color('success');
    }

    &:disabled {
      background-color: transparent;
      color: color('grey-20');
      border-color: color('grey-10');
    }
  }

  textarea.input-control {
    & ~ .input-help {
      margin-top: -#{spacing(4) / 2};
    }
  }

  .input-password-control {
    position: absolute;
    cursor: pointer;
    color: color('grey');
    top: spacing(16);
    right: spacing(16);

    &:before {
      content: '\f06e';
      @include font-family('font-awesome');
    }

    &.visible:before {
      content: '\f070';
    }

    & + .input-control {
      padding-right: spacing(48);
    }
  }

  .input-textarea-control {
    background: color('white');
    position: absolute;
    bottom: spacing(16);
    right: spacing(16);
    transform-origin: bottom right;
    transform: scale(0.5);
  }

  .input-help {
    position: absolute;
    margin-top: spacing(4);
    color: color('grey-70');
    @include font-size('xs');
  }
}
