.input-block {
  position: relative;

  &.input-active {
    .input-label {
      transform: translateY(50%) scale(0.75);
      color: color('grey-70');
    }

    .input-control {
      padding-top: 1.125rem;
      padding-bottom: 0.375rem;
    }
  }

  &.input-disabled {
    .input-label {
      color: color('grey-20');
    }
  }

  &.input-error {
    .input-label,
    .input-control {
      color: color('error-dark');
    }

    .input-help {
      color: color('error-dark');
    }
  }

  .input-label {
    margin-left: spacing(12);
    transition-duration: 0.3s;
    transition-property: transform, color;
    transform-origin: top left;
    transform: translateY(100%) scale(1);
    position: absolute;
    pointer-events: none;
    @include font-size('xs');

    .input-optional {
      margin-left: spacing(4);
      color: color('grey-30');
    }
  }

  .input-control {
    transition-duration: 0.3s;
    transition-property: border, color, padding;
    outline: none;
    width: 100%;
    padding: spacing(12);
    @include font-size('sm');

    &:disabled {
      background-color: transparent;
      color: color('grey-20');
    }
  }

  textarea.input-control {
    @include border-radius('md');
    border: 1px solid color('grey-30');

    & ~ .input-help {
      margin-top: -#{spacing(4) / 2};
    }
  }

  .input-password-control {
    @include font-size('lg');
    position: absolute;
    cursor: pointer;
    top: spacing(12);
    right: spacing(12);
    color: color('grey-20');

    & + .input-control {
      padding-right: spacing(48);
    }
  }

  .input-textarea-control {
    background-color: color('white');
    position: absolute;
    bottom: spacing(16);
    right: spacing(16);
    transform-origin: bottom right;
    transform: scale(0.5);
  }

  .input-help {
    position: absolute;
    margin-top: spacing(4);
    color: color('grey-70');
    @include font-size('xs');

    .icon {
      vertical-align: middle;
      margin-right: spacing(4);
    }
  }
}

.input-block-outline {
  .input-control {
    @include border-radius('md');
    border: 1px solid color('grey-30');

    &:focus,
    &:active {
      border-color: color('success');
    }

    &:disabled {
      border-color: color('grey-10');
    }
  }

  &.input-error {
    .input-control {
      border-color: color('error-light');
    }
  }
}

.input-block-underline {
  .input-label {
    margin-left: 0;
  }

  .input-control {
    background-color: transparent;
    padding-top: spacing(16);
    padding-bottom: 0;
    padding-left: 0;

    &:focus,
    &:active {
      & + .input-underline > .input-underline-active {
        left: 0;
        margin-left: 0;
        transition-property: left;
      }
    }

    &:disabled {
      & + .input-underline {
        background-color: color('grey-10');

        .input-underline-active {
          width: 0;
        }
      }
    }
  }

  .input-underline {
    position: relative;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: color('grey-30');

    .input-underline-active {
      position: absolute;
      width: 100%;
      height: 100%;
      left: -100%;
      margin-left: 200%;
      transition: 0.3s ease-out;
      transition-property: left, margin-left;
      background-color: color('success');
    }
  }

  &.input-active {
    .input-control {
      padding-top: spacing(16);
      padding-bottom: 0;
    }
  }

  &.input-error {
    .input-control {
      & + .input-underline {
        background-color: color('error-light');

        .input-underline-active {
          width: 0;
        }
      }
    }
  }
}
