.link {
  @include font-size('sm');
  color: color('green');
  cursor: pointer;
  text-decoration: underline;

  &:focus {
    color: color('green-light');
    @include focus-outline();
  }

  &:hover,
  &:active {
    color: color('green-dark');
  }

  &.dark {
    color: color('green-dark');

    &:hover,
    &:active {
      color: color('green-darker');
    }
  }
}

.link-standalone {
  @include font-weight('semi-bold');
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  .icon {
    font-size: 0.625rem;
    line-height: 0;
    margin-left: spacing(8);
  }
}
