.link {
  @include font-size('xs');
  color: color('green');
  cursor: pointer;

  &:visited {
    color: color('green-darker');
  }

  &:focus {
    color: color('green-light');
    outline: 1px solid color('blue');
  }

  &:hover,
  &:active {
    color: color('green-dark');
  }
}

.link-inline {
  &:active {
    text-decoration: underline;
  }

  @include screen('sm') {
    @include font-size('sm');
  }

  @include screen('lg') {
    @include font-size('base');
  }
}

.link-standalone {
  .fa {
    margin-left: spacing(8);
  }
}
