.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: stretch;
  align-items: stretch;

  .modal-overlay {
    @include overlay('light');

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
    background: color('white');
    padding: spacing(16);
    margin: spacing(16);

    @include screen('sm') {
      padding: spacing(32);
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .icon-close {
        cursor: pointer;
        padding-left: spacing(8);
      }
    }

    .modal-content {
      padding-top: spacing(16);

      p:not(:last-of-type) {
        margin-bottom: spacing(16);
      }
    }

    .popup-controls {
      padding-top: spacing(16);

      .action-wrapper {
        display: flex;
        flex-direction: column;

        > :nth-child(1) {
          margin-bottom: spacing(12);
        }

        .button {
          width: 100%;
        }
      }

      @include screen('sm') {
        padding-top: spacing(32);

        display: flex;
        justify-content: flex-end;

        .action-wrapper {
          flex-direction: row;

          > :nth-child(1) {
            margin-bottom: 0;
            margin-right: spacing(16);
          }

          .button {
            width: unset;
          }
        }
      }
    }
  }
}

.modal-active {
  overflow: hidden;
}
