.select {
  @include font-size('sm');
  @include border-radius('base');
  position: relative;
  background-color: color('white');
  border: 1px solid color('grey-30');
  cursor: pointer;

  &:focus {
    outline: none;

    .select-wrapper {
      @include focus-outline();
    }
  }

  .select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: spacing(12);

    &:hover {
      .select-icon {
        color: color('green-dark');
      }
    }
  }

  .select-value {
    margin-right: spacing(8);
  }

  .select-icon {
    color: color('green');
  }

  .select-options {
    @include border-radius('base');
    @include box-shadow('base');
    position: absolute;
    top: -1px;
    width: 100%;
    border: 1px solid color('grey-5');
    overflow: hidden;
    display: none;
  }

  .select-placeholder {
    padding: spacing(12);
  }

  .select-option {
    position: relative;
    color: color('grey-70');
    padding: spacing(8) spacing(12);
    background-color: color('white');

    &:before {
      content: '';
      display: block;
      border-top: 1px solid color('grey-10');
      position: absolute;
      top: 0;
      left: spacing(12);
      right: spacing(12);
    }

    &:hover {
      color: color('green');
    }

    &:focus {
      outline: none;
      color: color('green-dark');
    }
  }

  .select-option-selected {
    display: flex;
    align-items: center;

    &:after {
      @include font-family('font-awesome');
      content: '\f00c';
      position: absolute;
      right: spacing(12);
      color: color('green-light');
      font-size: 12px;
    }
  }

  .select-helper-text {
    @include font-size('xs');
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    margin-top: spacing(4);
    color: color('grey-70');
  }

  &.select-open,
  &.select-inline,
  &.select-error {
    .select-helper-text {
      display: none;
    }
  }
}

.select-open {
  @include border-radius('base', 'base', 'none', 'none');
  border: none;

  &:focus {
    .select-wrapper {
      outline: none;
    }
  }

  .select-value {
    visibility: hidden;
  }

  .select-icon {
    transform: rotate(180deg);
  }

  .select-options {
    display: block;
  }
}

.select-keyboard {
  &.select-open:focus {
    .select-placeholder {
      outline: 2px solid color('blue');
      outline-offset: -6px;
    }
  }

  .select-option:focus {
    outline: 2px solid color('blue');
    outline-offset: -6px;
  }
}

.select-inline {
  display: inline-block;
  border: none;
  margin: 0 spacing(4);

  &.select-keyboard.select-open:focus {
    .select-wrapper {
      @include focus-outline();
    }
  }

  .select-wrapper {
    padding: 0;
    margin-bottom: spacing(8);
  }

  .select-value {
    visibility: visible;
  }

  .select-options {
    top: unset;
    width: auto;
  }

  .select-placeholder {
    display: none;
  }

  .select-option {
    white-space: nowrap;
    padding-right: calc(#{spacing(12)} + 24px);

    &:nth-child(2):before {
      border-top: none;
    }
  }
}

.select-error {
  color: color('error');
  border-color: color('error');

  .select-icon {
    color: color('error');
  }

  .select-wrapper:hover {
    .select-icon {
      color: color('error-dark');
    }
  }

  .select-error-text {
    @include font-size('xs');
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    margin-top: spacing(4);

    .fa {
      margin-right: spacing(4);
    }
  }

  &.select-inline,
  &.select-open {
    .select-error-text {
      display: none;
    }
  }

  .select-helper-text {
    display: none;
  }
}

.select-disabled {
  color: color('grey-10');
  border-color: color('grey-10');
  cursor: not-allowed;

  &:focus {
    .select-wrapper {
      outline: none;
    }
  }

  .select-icon {
    color: color('grey-10') !important;
  }

  .select-helper-text {
    color: color('grey-10');
  }
}
