.table {
  @include font-size('sm');
  border-top: 2px solid color('grey-10');
  border-bottom: 2px solid color('grey-10');
  overflow: auto;

  table {
    width: 100%;
  }

  thead,
  tbody {
    &:nth-child(odd) {
      background-color: color('grey-5');
    }
  }

  thead {
    text-align: left;

    tr:first-child {
      th {
        @include font-weight('semi-bold');
      }

      [rowspan] ~ th {
        border-bottom: 1px solid color('grey-20');

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }

  tr {
    &:hover {
      background-color: color('yellow-light');

      th,
      td {
        border-color: color('yellow-light');
      }
    }

    &:first-child {
      td {
        padding-top: spacing(12);

        &:first-child {
          @include font-weight('semi-bold');
        }
      }
    }

    &:last-child {
      td {
        padding-bottom: spacing(12);
      }
    }
  }

  th,
  td {
    &:not(:first-child) {
      border-left: 8px solid color('white');
    }

    &:not(:last-child) {
      border-right: 8px solid color('white');
    }
  }

  th {
    @include font-weight('normal');
    padding: spacing(12) spacing(8);
  }

  td {
    padding: spacing(4) spacing(8);
    min-width: 200px;
    vertical-align: top;
  }
}
