.three-col {
  padding: spacing(32) 0;

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  .three-col-heading {
    text-align: left;
    margin-bottom: spacing(48);
    @include font-size('h4');

    @include screen('md') {
      @include font-size('h3');
    }
  }

  .row {
    display: flex;
    flex-direction: column;

    @include screen('sm') {
      flex-direction: row;
    }
  }

  .col-sm-4 {
    margin-bottom: spacing(48);
  }

  &.grey {
    background: color('grey-5');
  }
}
