.card-carousel {
  overflow-x: hidden;

  .card-carousel-wrapper {
    position: relative;
    overflow-x: visible;
    padding: spacing(16) spacing(48);

    @include screen('sm') {
      padding: spacing(32) spacing(64);
    }

    @include screen('md') {
      padding: spacing(64) spacing(16);
    }

    .card-carousel-control {
      position: absolute;
      top: 50%;
      z-index: 1;

      transform: translateY(-50%);

      background-color: color('green');
      color: color('white');

      padding: spacing(4) spacing(8);

      @include box-shadow('sm');
      @include font-size('h3');

      cursor: pointer;

      transition: background-color 300ms ease-in;

      &:hover {
        background-color: color('green-dark');
      }

      &.card-carousel-prev {
        left: spacing(24);

        @include screen('sm') {
          left: 2.5 * spacing(16);
        }

        @include screen('md') {
          left: -#{spacing(8)};
        }
      }

      &.card-carousel-next {
        right: spacing(24);

        @include screen('sm') {
          right: 2.5 * spacing(16);
        }

        @include screen('md') {
          right: -#{spacing(8)};
        }
      }

      &:disabled {
        display: none;
      }
    }
  }

  .card-carousel-items {
    display: flex;
    overflow: unset;

    transition-duration: 300ms;

    .card-carousel-item {
      flex-shrink: 0;
      padding: 0 spacing(8);

      display: flex;
      justify-content: center;
      align-items: center;

      .card-article {
        width: 100%;
        min-height: 2.5 * spacing(160);

        @include screen('sm') {
          min-height: 2 * spacing(160);
        }
      }
    }
  }
}
