.carousel {
  margin-top: spacing(32);
  margin-bottom: spacing(32);
  padding-bottom: spacing(64);

  @include screen('sm') {
    margin-top: spacing(48);
    margin-bottom: spacing(48);
    padding-top: spacing(12);
    padding-bottom: spacing(12);
  }

  @include screen('md') {
    margin-top: spacing(24);
    margin-bottom: spacing(24);
    padding-top: spacing(16);
    padding-bottom: spacing(16);
  }

  @include screen('lg') {
    margin-top: spacing(32);
    margin-bottom: spacing(32);
    padding-top: spacing(24);
    padding-bottom: spacing(24);
  }

  .carousel-wrapper {
    position: relative;
  }

  .carousel-card {
    @include box-shadow('md');

    @include screen('sm') {
      width: 350px;
    }

    @include screen('md') {
      width: 400px;
    }

    @include screen('lg') {
      width: 450px;
    }
  }

  .carousel-image-slider {
    @include screen('sm') {
      height: auto !important;
      position: absolute;
      top: -#{spacing(12)};
      bottom: -#{spacing(12)};
      left: 10%;
      right: 0;
      z-index: -1;
    }

    @include screen('md') {
      top: -#{spacing(16)};
      bottom: -#{spacing(16)};
    }

    @include screen('lg') {
      top: -#{spacing(24)};
      bottom: -#{spacing(24)};
      left: 20%;
    }
  }

  .carousel-image {
    @include screen('sm') {
      width: 100%;
      height: 100%;

      &:after {
        display: none;
      }
    }
  }

  .carousel-card-content {
    background-color: color('white');
    padding: spacing(24) 0;
  }

  .eyebrow,
  .carousel-slide-content,
  .carousel-pagination-container {
    margin: 0 spacing(16);

    @include screen('sm') {
      margin: 0 spacing(24);
    }

    @include screen('md') {
      margin: 0 spacing(32);
    }
  }

  .carousel-slide-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .carousel-card-title {
    flex-grow: 1;
  }

  .carousel-card-text {
    flex-grow: 1;
    margin: spacing(12) 0;
  }

  .carousel-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    padding-top: spacing(16);

    @include screen('sm') {
      padding-top: spacing(24);
    }

    @include screen('md') {
      position: static;
      transform: none;
      justify-content: flex-start;
      padding-top: spacing(16);
    }

    .button {
      @include screen('md') {
        width: auto;
        height: auto;
      }
    }
  }

  .carousel-pagination {
    width: spacing(96);
    text-align: center;

    @include screen('md') {
      width: spacing(64);
    }
  }
}
