.cards-horizontal-list {
  padding-top: spacing(24);
  padding-bottom: spacing(24);

  @include screen('sm') {
    padding-top: spacing(32);
    padding-bottom: spacing(32);
  }

  .cards-horizontal-list-heading {
    margin: spacing(16) 0;
    text-align: center;
  }

  .article-card {
    @include border-radius('lg');
    @include box-shadow('sm');
    display: flex;
    flex-direction: column;
    margin-top: spacing(24);
    overflow: hidden;
    transition: box-shadow 0.3s;

    &:hover {
      @include box-shadow('lg');
    }

    @include screen('sm') {
      flex-direction: row;
    }

    .article-card-image {
      @include fixed-ratio(3, 2);
      flex-shrink: 0;

      @include screen('sm') {
        width: 40%;
      }

      @include screen('md') {
        width: 35%;
      }

      @include screen('lg') {
        width: 30%;
      }
    }

    .article-card-content {
      padding: spacing(24) spacing(16) spacing(16);

      @include screen('sm') {
        padding: spacing(24);
      }

      @include screen('md') {
        padding: spacing(32) spacing(24);
      }
    }

    .article-title {
      color: color('green');
      margin-bottom: spacing(8);
    }

    .link {
      margin-top: spacing(24);
    }
  }
}
