.closing-cta {
  position: relative;
  color: color('white');
  text-align: center;

  .container {
    display: flex;
    justify-content: center;
    padding-top: spacing(64);
    padding-bottom: spacing(64);
  }

  .closing-cta-text {
    @include font-size('h5');
    margin-top: spacing(8);
  }

  .button {
    margin-top: spacing(24);
  }
}

.closing-cta-standard {
  background-color: color('green');

  &.closing-cta-star-birds {
    .container {
      @include star-birds('light');
      background-position: left center;
    }
  }
}

.closing-cta-bgi {
  .closing-cta-background-image,
  .closing-cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .closing-cta-background-image {
    object-fit: cover;
  }

  .closing-cta-overlay {
    @include overlay('light');
  }
}
