.closing-cta {
  overflow: hidden;
  position: relative;
  color: color('grey');

  &.closing-cta-half {
    padding: spacing(16) 0;
    background: color('green');

    @include screen('sm') {
      padding: 0 spacing(24);
    }

    @include screen('md') {
      padding: 0 spacing(48);
    }

    .closing-cta-image-wrapper {
      display: flex;
      position: relative;

      @include screen('sm') {
        padding-right: spacing(16);
        width: 50%;
      }

      .closing-cta-image {
        z-index: 1;
        align-self: center;
        height: auto;
        padding: spacing(32);

        @include screen('sm') {
          padding: spacing(16);
        }

        @include screen('md') {
          padding: spacing(32);
        }

        @include screen('lg') {
          padding: spacing(64);
        }
      }
    }

    .closing-cta-content {
      .closing-cta-heading {
        margin-bottom: spacing(32);
      }

      @include screen('sm') {
        padding: spacing(64) 0 spacing(64) spacing(16);
        width: 50%;
        text-align: left;
      }
    }
  }

  &.closing-cta-alt {
    background: color('green');

    .closing-cta-image-wrapper {
      left: 0;

      @include screen('sm') {
        width: 50%;
        justify-content: flex-end;
      }

      @include screen('md') {
        margin-left: spacing(32);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @include screen('sm') {
      flex-direction: row;
      height: auto;
    }

    @include screen('lg') {
      width: 100%;
      max-width: 1170px;
    }
  }

  .closing-cta-image-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .closing-cta-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    svg {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .closing-cta-content {
    position: relative;
    padding: spacing(64) spacing(16);
    text-align: center;

    @include screen('sm') {
      display: inline-block;
      padding: spacing(48) spacing(96);
    }

    @include screen('lg') {
      padding: spacing(64) spacing(96);
    }

    .closing-cta-heading {
      margin-bottom: spacing(4);
      color: color('white');

      @include screen('sm') {
        margin-bottom: spacing(16);
      }

      @include screen('md') {
        margin-bottom: spacing(8);
      }
    }

    .closing-cta-text {
      margin-bottom: spacing(32);
      color: color('white');
      @include font-size('lg');

      @include screen('lg') {
        margin-bottom: spacing(48);
      }
    }
  }
}
