.column-icons {
  color: color('grey');

  .column-icons-section {
    &:nth-child(1) {
      background-color: color('grey-5');

      .column-icon-circle {
        background-color: color('white');
      }
    }

    &:nth-child(2) {
      .column-icon-circle {
        background-color: color('grey-5');
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(64) spacing(16) 0;

    @include screen('sm') {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }

  .column-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: spacing(64);

    @include screen('sm') {
      width: percentage(1 / 3);
      padding-left: spacing(16);
      padding-right: spacing(16);
    }
  }

  .column-icon-circle {
    @extend .square;
    position: relative;
    width: 150px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: spacing(32);
  }

  .column-icon-img {
    position: absolute;
    object-fit: cover;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
  }

  .column-icon-subtext {
    @include font-size('sm');
    margin-top: spacing(16);
  }
}
