.column-icons {
  .container {
    padding-top: spacing(64);

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  .column-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: spacing(32);
    background-color: color('grey-5');
  }

  .column-icon-title {
  }

  .column-icon-text {
    @include font-size('sm');
    margin-top: spacing(8);
  }
}

.column-icons-inverted {
  background-color: color('grey-5');

  .column-icon-circle {
    background-color: color('white');
  }
}
