.column-cards {
  padding: spacing(32) 0;

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  .column-cards-heading {
    text-align: left;
    margin-bottom: spacing(32);
  }

  .row {
    display: flex;
    flex-direction: column;

    @include screen('md') {
      flex-direction: row;
    }
  }

  .col-md-4 {
    margin-bottom: spacing(48);
  }

  &.column-cards-inverted {
    background-color: color('grey-5');
  }
}
