.column-icons {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: spacing(64) spacing(16) 0;

    &:before {
      display: none;
    }

    @include screen('sm') {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .column-icon {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    text-align: center;
    padding-bottom: spacing(64);

    @include screen('sm') {
      width: 33%;
      padding-left: spacing(16);
      padding-right: spacing(16);
    }
  }

  .column-icon-circle {
    width: 150px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: spacing(32);
    background-color: color('grey-5');

    img {
      top: 20%;
      left: 20%;
      width: 60%;
      height: 60%;
    }
  }

  .column-icon-text {
  }

  .column-icon-subtext {
    @include font-size('sm');
    margin-top: spacing(8);
  }
}

.column-icons-inverted {
  background-color: color('grey-5');

  .column-icon-circle {
    background-color: color('white');
  }
}

.column-icons-2,
.column-icons-4 {
  .column-icon {
    @include screen('sm') {
      width: 50%;
    }
  }
}

.column-icons-4 {
  .column-icon {
    @include screen('md') {
      width: 25%;
    }
  }
}
