.column-cards {
  padding-top: spacing(32);
  padding-bottom: spacing(32);

  @include screen('sm') {
    padding-top: spacing(64);
    padding-bottom: spacing(64);
  }

  .column-cards-heading {
    text-align: left;
    margin-bottom: spacing(32);
  }

  .row {
    display: flex;
    flex-direction: column;

    @include screen('md') {
      flex-direction: row;
    }
  }

  .col-md-4 {
    margin-bottom: spacing(48);
  }

  &.column-cards-inverted {
    background-color: color('grey-5');
  }
}
