.comparison-table-a {
  display: flex;
  flex-direction: column;
  padding: spacing(32) spacing(16);

  @include screen('sm') {
    padding: spacing(32) spacing(24);
  }

  @include screen('md') {
    padding: spacing(32);
    flex-direction: row;
    align-items: flex-start;
  }

  @include screen('lg') {
    align-items: stretch;
    justify-content: center;
  }

  .comparison-table-column {
    @include font-size('sm');
    @include box-shadow('sm');
    padding: spacing(24);
    text-align: center;
    flex: 1;

    &:not(:first-child) {
      margin-top: spacing(24);

      @include screen('md') {
        margin-top: 0;
        margin-left: spacing(24);
      }
    }

    @include screen('sm') {
      padding: spacing(32) spacing(24);
    }

    @include screen('md') {
      padding: spacing(24) spacing(16);
    }

    @include screen('lg') {
      display: flex;
      flex-direction: column;
      max-width: 360px;
      box-sizing: content-box;
    }

    .comparison-table-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: spacing(24);

      @include screen('sm') {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
      }

      @include screen('md') {
        flex-direction: column;
        padding: 0 spacing(8);
        min-height: 12.5rem;
      }

      @include screen('lg') {
        align-items: center;
        text-align: center;
        min-height: auto;
      }
    }

    .comparison-table-title {
      color: color('green');
      margin-bottom: spacing(8);

      @include screen('md') {
        @include font-size('h3');
      }

      @include screen('lg') {
        @include font-size('lg');
      }
    }

    .button {
      margin-top: spacing(24);
      flex-shrink: 0;

      @include screen('sm') {
        margin-top: 0;
        margin-left: spacing(24);
      }

      @include screen('md') {
        margin-top: spacing(24);
        margin-left: 0;
      }

      @include screen('lg') {
        padding-left: spacing(32);
        padding-right: spacing(32);
      }
    }

    .comparison-table-divider {
      border-top: 1px solid color('grey-30');
    }

    .comparison-table-extra {
      @include font-weight('bold');
      margin-top: spacing(8);

      @include screen('sm') {
        text-align: left;
      }

      @include screen('md') {
        margin-top: spacing(24);
        margin-bottom: -#{spacing(8)};
      }

      @include screen('lg') {
        @include font-weight('semi-bold');
        color: color('grey-70');
      }
    }

    .list-element-items {
      margin: spacing(24) 0;
      text-align: left;
      flex-grow: 1;
    }

    .list-element-item {
      @include font-weight('normal');
      font-size: inherit;
      line-height: inherit;

      .icon {
        @include font-size('lg');
      }
    }

    .comparison-table-link-container {
      @include screen('sm') {
        text-align: right;
      }

      @include screen('md') {
        text-align: left;
      }

      @include screen('lg') {
        text-align: center;
      }
    }

    .link {
      @include font-size('xs');
    }
  }
}

.comparison-table-b {
}
