.dropdown-hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  @include screen('sm') {
    height: auto;
  }

  .dropdown-hero-content {
    position: absolute;
    top: 0;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen('sm') {
      padding: 0 spacing(24);
    }

    @include screen('md') {
      padding: 0 spacing(32);
    }
  }

  .dropdown-hero-img,
  .dropdown-hero-overlay {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .dropdown-hero-img {
    object-fit: cover;
  }

  .dropdown-hero-overlay {
    @include overlay('medium');
    @include fixed-ratio(16, 9);

    position: absolute;
    top: 0;
  }

  .dropdown-hero-title {
    height: 50%;
    display: flex;
    align-items: flex-end;

    color: color('white');
    text-align: center;
  }

  .dropdown-hero-dropdown {
    width: spacing(160) + spacing(64);
    margin-top: spacing(24);

    @include screen('sm') {
      position: relative;
    }

    @include screen('md') {
      margin-top: spacing(32);
    }
  }
}
