.faq {
  padding: spacing(32) spacing(16);

  @include screen('md') {
    padding: spacing(48) spacing(64);
  }

  .faq-heading {
    margin-bottom: spacing(16);
  }

  .faq-link {
    margin-top: spacing(32);
  }
}
