.help-intro {
  background-color: color('green');
  padding-top: spacing(96);
  padding-bottom: spacing(64);

  .help-intro-title {
    color: color('white');
    text-align: center;
  }

  .help-intro-search {
    display: flex;
    justify-content: center;
    margin-top: spacing(24);

    &.help-intro-search-small {
      .input-block {
        max-width: 500px;
      }
    }

    .input-block {
      flex: 1;
    }

    .input-control {
      border: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::placeholder {
        color: color('grey-70');
      }
    }

    .button {
      @include font-weight('normal');
      font-size: 18px;
      background-color: color('grey-5');
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .eyebrow {
    color: color('white');
    margin-top: spacing(32);

    @include screen('sm', 'down') {
      align-items: center;
    }
  }

  .help-intro-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: spacing(24);

    .link {
      color: color('white');
      margin-top: spacing(12);
    }

    @include screen('sm', 'down') {
      align-items: center;
    }
  }
}
