.hero {
  height: 100vh;
  color: color('grey');

  .hero-img {
    width: 100%;
    object-fit: cover;
  }

  .hero-content {
    background: color('white');
  }

  .hero-heading {
    margin-bottom: spacing(4);
  }

  .hero-text {
    @include font-size('sm');
    color: color('grey-70');
  }

  .hero-button {
    margin: spacing(24) 0;
  }

  .hero-subtext {
    @include font-size('sm');

    .link {
      text-decoration: underline;
    }
  }

  @include screen('sm') {
    height: auto;
  }

  @include screen('md') {
    .hero-heading {
      @include font-size('h2');
    }
  }

  @include screen('lg') {
    .hero-heading {
      @include font-size('h1');
    }
  }
}

.hero-full {
  display: flex;
  flex-direction: column;

  .hero-img {
    min-height: 0;
  }

  .hero-content {
    padding: spacing(32) spacing(16);
  }

  @include screen('sm') {
    position: relative;
    flex-direction: row;

    .hero-img {
      position: absolute;
      right: 0;
      height: 100%;
      width: 60%;
    }

    .hero-content {
      position: relative;
      padding: spacing(32);
    }
  }

  @include screen('md') {
    .hero-content {
      padding: spacing(64);
    }
  }

  @include screen('lg') {
    .hero-content {
      padding: spacing(96);
    }
  }
}

.hero-spaced {
  position: relative;

  .hero-img {
    position: absolute;
    height: 100%;
  }

  .hero-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: spacing(16);
    margin-right: spacing(16);
    margin-bottom: spacing(24);
    padding: spacing(32) spacing(24);
  }

  @include screen('sm') {
    .hero-content {
      position: relative;
      display: inline-block;
      margin: spacing(16) spacing(48);
      padding: spacing(32);
    }
  }

  @include screen('md') {
    .hero-content {
      margin: spacing(24) spacing(64);
      padding: spacing(64);
    }
  }

  @include screen('lg') {
    .hero-content {
      margin: spacing(32) spacing(96);
    }
  }
}
