.highlight {
  display: flex;
  flex-direction: column;

  padding-bottom: spacing(16);

  @include screen('sm') {
    flex-direction: row;
    align-items: center;
  }

  .highlight-content-container {
    padding-top: spacing(24);

    @include screen('sm') {
      padding-top: 0;
    }
  }

  .highlight-text {
    color: color('grey-70');
    margin-top: spacing(8);
    margin-bottom: spacing(24);
  }

  > * {
    @include screen('sm') {
      width: 50%;
    }
  }

  &.reverse {
    @include screen('sm') {
      flex-direction: row-reverse;
    }
  }

  &.centered {
    .highlight-content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .eyebrow {
        align-items: center;
      }

      @include screen('sm') {
        display: block;
        text-align: left;

        .eyebrow {
          align-items: flex-start;
        }
      }
    }
  }

  &.highlight-A {
    padding-top: spacing(32);
    padding-bottom: spacing(32);

    @include screen('sm') {
      padding-top: spacing(64);
      padding-bottom: spacing(64);
    }

    .highlight-content-container {
      @include screen('sm') {
        padding-left: spacing(24);
      }

      @include screen('md') {
        padding-left: spacing(48);
      }

      @include screen('lg') {
        padding-left: spacing(64);
      }
    }

    &.reverse {
      .highlight-content-container {
        @include screen('sm') {
          padding-left: 0;
          padding-right: spacing(24);
        }

        @include screen('md') {
          padding-left: 0;
          padding-right: spacing(48);
        }

        @include screen('lg') {
          padding-left: 0;
          padding-right: spacing(64);
        }
      }
    }
  }

  &.highlight-B {
    .highlight-content-container {
      padding: spacing(16);

      @include screen('sm') {
        padding: spacing(24);
      }

      @include screen('md') {
        padding: spacing(48);
      }

      @include screen('lg') {
        padding-left: spacing(128);
      }
    }
  }
}
