.highlight {
  display: flex;
  flex-direction: column;
  padding-top: spacing(32);
  padding-bottom: spacing(32);

  @include screen('sm') {
    padding-top: spacing(64);
    padding-bottom: spacing(64);
    flex-direction: row;
    align-items: center;
  }

  @include screen('md') {
    padding-top: spacing(48);
    padding-bottom: spacing(48);
  }

  .highlight-content-container {
    margin-top: spacing(24);

    @include screen('sm') {
      margin-top: 0;
    }
  }

  .highlight-text {
    color: color('grey-70');
    margin-top: spacing(12);
    margin-bottom: spacing(24);
  }

  > :nth-child(even) {
    @include screen('sm') {
      width: 50%;
      margin-left: spacing(32);
      margin-right: 0;
    }
  }

  > :nth-child(odd) {
    @include screen('sm') {
      width: 50%;
      margin-left: 0;
      margin-right: spacing(32);
    }
  }

  &.reverse {
    @include screen('sm') {
      flex-direction: row-reverse;
    }

    > :nth-child(even) {
      @include screen('sm') {
        margin-left: 0;
        margin-right: spacing(32);
      }
    }

    > :nth-child(odd) {
      @include screen('sm') {
        margin-left: spacing(32);
        margin-right: 0;
      }
    }
  }
}
