.highlight {
  display: flex;
  flex-direction: column;

  @include screen('sm') {
    flex-direction: row;
    align-items: center;
  }

  .highlight-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .highlight-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include screen('sm') {
      justify-content: center;
      padding: spacing(24);
    }

    @include screen('md') {
      padding: spacing(48);
    }

    @include screen('lg') {
      padding: spacing(64);
    }
  }

  .highlight-text {
    color: color('grey-70');
    margin-top: spacing(8);
    margin-bottom: spacing(24);
  }

  > * {
    @include screen('sm') {
      width: 50%;
    }
  }

  &.margins {
    margin-top: spacing(64);
    margin-bottom: spacing(64);

    @include screen('md') {
      margin-top: spacing(128);
      margin-bottom: spacing(128);
    }
  }

  &.reverse {
    @include screen('sm') {
      flex-direction: row-reverse;
    }
  }

  &.centered {
    .highlight-content-container {
      justify-content: center;
    }

    .highlight-content-wrapper {
      align-items: center;
      text-align: center;
      width: 100%;

      .eyebrow {
        align-items: center;
      }

      @include screen('sm') {
        text-align: left;
        align-items: flex-start;
        width: auto;

        .eyebrow {
          align-items: flex-start;
        }
      }
    }
  }

  &.highlight-A {
    padding-top: spacing(32);
    padding-bottom: spacing(32);

    @include screen('sm') {
      padding-top: spacing(64);
      padding-bottom: spacing(64);
    }

    .highlight-content-container {
      padding-top: spacing(16);

      @include screen('sm') {
        padding-top: unset;
      }
    }
  }

  &.highlight-B {
    @include max-width-screen('xl');

    @include screen('sm') {
      padding-left: 0;
    }

    .highlight-content-container {
      padding: spacing(16);

      @include screen('md') {
        padding: spacing(48);
      }

      @include screen('lg') {
        padding: spacing(64);
      }
    }
  }
}
