.infographic {
  @include star-birds();
  color: color('white');
  background-color: color('green-dark');
  text-align: center;
  padding: spacing(48) spacing(16) spacing(64);

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  @include screen('md') {
    padding: spacing(48) 0;
  }

  .infographic-title {
  }

  .infographic-boxes {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: spacing(24);
    max-width: 300px;

    @include screen('sm') {
      flex-direction: row;
      max-width: unset;
      margin-top: spacing(48);
    }

    @include screen('md') {
      margin-top: spacing(64);
    }

    @include screen('lg') {
      margin-top: spacing(48);
    }
  }

  .infographic-box {
    @include fixed-ratio(1, 1);
    flex: 1;
    background-color: color('green');
    margin-bottom: spacing(16);

    @include screen('sm') {
      margin-left: spacing(8);
      margin-right: spacing(8);
      text-align: left;
    }

    @include screen('md') {
      margin-left: spacing(16);
      margin-right: spacing(16);
    }

    @include screen('lg') {
      margin-left: spacing(8);
      margin-right: spacing(8);

      &:after {
        display: block;
      }
    }
  }

  .infographic-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    padding: spacing(64) spacing(16);

    @include screen('sm') {
      justify-content: flex-start;
      padding: spacing(24) spacing(16);
    }

    @include screen('lg') {
      position: absolute;
      padding: spacing(32) spacing(16);
    }
  }

  .infographic-box-title {
  }

  .infographic-box-text {
    @include font-size('lg');
    margin-top: spacing(4);

    @include screen('sm') {
      @include font-size('sm');
    }

    @include screen('md') {
      @include font-size('base');
    }

    @include screen('lg') {
      margin-top: spacing(16);
    }
  }

  .infographic-button {
    margin-top: spacing(16);
    padding-left: spacing(48);
    padding-right: spacing(48);

    @include screen('sm') {
      margin-top: spacing(32);
    }

    @include screen('md') {
      margin-top: spacing(16);
    }
  }
}
