.infographic {
  @include star-birds();
  color: color('white');
  background-color: color('green-dark');
  padding: spacing(48) spacing(16);

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  .infographic-title {
    text-align: center;
  }

  .infographic-boxes {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: spacing(24);

    @include screen('sm') {
      flex-direction: row;
      margin-top: spacing(48);
    }
  }

  .infographic-box {
    @include fixed-ratio(1, 1);
    flex: 1;
    background-color: color('green');
    margin-bottom: spacing(16);

    @include screen('sm') {
      margin-left: spacing(8);
      margin-right: spacing(8);

      &:after {
        display: none;
      }
    }

    @include screen('md') {
      margin-left: spacing(16);
      margin-right: spacing(16);
    }
  }

  .infographic-box-wrapper {
    position: absolute;
    padding: spacing(48) spacing(16);

    @include screen('sm') {
      position: static;
    }
  }

  .infographic-box-title {
  }

  .infographic-box-text {
    @include font-size('lg');
    margin-top: spacing(4);
  }

  .infographic-button {
    display: block;
    margin: spacing(16) auto 0;
    padding-left: spacing(48);
    padding-right: spacing(48);
  }
}
