.infographic-standard {
  color: color('white');
  background-color: color('green-dark');
  text-align: center;
  padding: spacing(48) spacing(16) spacing(64);

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  @include screen('md') {
    padding: spacing(48) 0;
  }

  &.infographic-star-birds {
    @include star-birds('light');
  }

  .container {
    padding: 0;
    margin-top: spacing(24);
    max-width: 300px;

    @include screen('sm') {
      max-width: unset;
      margin-top: spacing(48);

      .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    @include screen('md') {
      margin-top: spacing(64);
    }

    @include screen('lg') {
      margin-top: spacing(48);
    }

    .column {
      padding-bottom: spacing(32);
    }
  }

  .infographic-box {
    @include fixed-ratio(1, 1);
    background-color: color('green');
    margin-bottom: spacing(16);

    @include screen('sm') {
      text-align: left;
    }

    @include screen('lg') {
      &:after {
        display: block;
      }
    }
  }

  .infographic-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    padding: spacing(64) spacing(16);

    @include screen('sm') {
      justify-content: flex-start;
      padding: spacing(24) spacing(16);
    }

    @include screen('lg') {
      position: absolute;
      padding: spacing(32) spacing(16);
    }
  }

  .infographic-box-text {
    @include font-size('lg');
    margin-top: spacing(4);

    @include screen('sm') {
      @include font-size('sm');
    }

    @include screen('md') {
      @include font-size('base');
    }

    @include screen('lg') {
      margin-top: spacing(16);
    }
  }

  .infographic-button {
    padding-left: spacing(48);
    padding-right: spacing(48);
  }
}
