.legal {
  padding: spacing(16);

  @include screen('sm') {
    padding: spacing(32);
  }

  @include screen('md') {
    padding: spacing(64);
  }

  @include screen('lg') {
    padding: spacing(64) spacing(96);
  }

  .legal-spacer {
    border: 1px solid color('grey-30');
    margin-top: spacing(16);
    margin-bottom: spacing(48);
  }

  .legal-heading {
    margin-bottom: spacing(16);
  }

  .legal-list {
    list-style: decimal;
    margin-left: spacing(24);
    color: color('grey-80');
    @include font-size('xs');

    .legal-list-item:not(:last-child) {
      margin-bottom: spacing(16);
    }
  }
}
