.legal {
  margin: spacing(16) spacing(16) 0;
  padding: spacing(24) 0;

  border-top: 1px solid color('grey-10');

  .legal-heading {
    margin-bottom: spacing(24);
  }

  .legal-list {
    list-style-type: none;
    counter-reset: item;
    padding-left: spacing(16);
  }

  .legal-list-item {
    position: relative;
    @include font-size('sm');

    &:before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: -#{spacing(4)};
      left: -#{spacing(16)};
      color: color('green');
    }

    &:not(:last-child) {
      margin-bottom: spacing(24);
    }
  }
}
