.legal {
  padding: spacing(64) spacing(16) spacing(32);

  @include screen('sm') {
    padding: spacing(48) spacing(24) spacing(64);
  }

  @include screen('md') {
    padding: spacing(48) spacing(32) spacing(64);
  }

  @include screen('lg') {
    padding: spacing(64) spacing(96);
  }

  .legal-spacer {
    border: 1px solid color('grey-30');
    margin-top: spacing(16);
    margin-bottom: spacing(48);
  }

  .legal-heading {
    margin-bottom: spacing(32);
  }

  .legal-list {
    list-style-type: none;
    counter-reset: item;
  }

  .legal-list-item {
    position: relative;

    &:before {
      @include font-size('xs');
      content: counter(item);
      counter-increment: item;
      position: absolute;
      left: -#{spacing(12)};
      top: 0.2rem;
      color: color('grey-70');
    }

    &:not(:last-child) {
      margin-bottom: spacing(24);
    }

    @include screen('sm') {
      padding-left: spacing(16);

      &:before {
        left: 0;
      }
    }
  }
}
