.legal {
  @include font-size('xs');
  padding-top: spacing(48);
  padding-bottom: spacing(48);

  .legal-heading {
    margin-bottom: spacing(32);
  }

  .legal-list {
    list-style-type: none;
    counter-reset: item;
  }

  .legal-list-item {
    position: relative;

    &:before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      left: -#{spacing(12)};
      color: color('grey-70');
      font-size: 0.5rem;
      line-height: 1.625;
    }

    &:not(:last-child) {
      margin-bottom: spacing(24);
    }

    @include screen('sm') {
      padding-left: spacing(16);

      &:before {
        left: 0;
      }
    }
  }
}
