.list-element {
  padding: spacing(16);

  @include screen('sm') {
    display: flex;
    padding: spacing(32);
  }

  .list-element-image-wrapper {
    margin-bottom: spacing(16);
    display: flex;
    justify-content: center;

    @include screen('sm') {
      margin-bottom: 0;
      max-width: 50%;
    }

    .list-element-image {
      padding: spacing(16);
      align-self: center;

      @include screen('sm') {
        padding: spacing(32);
      }
    }
  }
}

.list-element-content {
  &:not(.alt) {
    @include screen('sm') {
      display: flex;

      .list-element-header {
        padding: spacing(4) spacing(64);
        margin-bottom: 0;
      }
    }
  }

  &.alt {
    margin-top: spacing(16);
  }

  .list-element-header {
    margin-bottom: spacing(24);

    .list-element-heading {
      @include font-size('h3');
    }

    .list-element-header-text {
      color: color('grey-80');
      display: none;
      @include font-size('sm');

      @include screen('sm') {
        display: block;
      }
    }
  }
}

.list-element-items {
  padding-top: spacing(4);
  padding-bottom: spacing(4);
  @include font-family('display');

  .list-element-item {
    position: relative;
    margin-left: spacing(32);

    &:before {
      position: absolute;
      color: color('green');
      margin-left: -#{spacing(32)};
    }

    &:not(:last-child) {
      margin-bottom: spacing(24);
    }
  }
}
