.list-element {
  padding-top: spacing(32);
  padding-bottom: spacing(32);

  @include screen('sm') {
    padding-top: spacing(64);
    padding-bottom: spacing(64);
  }

  .container {
    @include screen('sm') {
      display: flex;
      align-items: flex-start;

      .image-block {
        min-width: 50%;
      }
    }
  }

  &.list-element-image {
    .list-element-content {
      width: 50%;
      margin-left: spacing(16);
    }

    @include screen('md') {
      .list-element-content {
        margin-left: spacing(32);
      }
    }

    @include screen('lg') {
      .list-element-content {
        margin-left: spacing(64);
      }
    }

    &.reversed {
      .container {
        @include screen('sm') {
          flex-direction: row-reverse;
        }
      }

      .list-element-content {
        margin-left: 0;
        margin-right: spacing(16);
      }

      @include screen('md') {
        .list-element-content {
          margin-right: spacing(32);
        }
      }

      @include screen('lg') {
        .list-element-content {
          margin-right: spacing(64);
        }
      }
    }
  }

  &.list-element-standard {
    .list-element-content {
      width: 100%;

      @include screen('lg') {
        display: flex;

        .list-element-header {
          width: 50%;
          padding-right: spacing(32);
        }

        .list-element-items {
          width: 50%;
          padding-left: spacing(32);
        }
      }
    }
  }
}

.list-element-content {
  .list-element-header {
    margin-bottom: spacing(24);

    .list-element-heading {
      margin-bottom: spacing(8);
    }
  }
}

.list-element-items {
  .list-element-item {
    @include font-weight('normal');
    position: relative;
    margin-left: spacing(32);

    .icon {
      position: absolute;
      color: color('green-light');
      margin-left: -#{spacing(32)};
      line-height: inherit;
    }

    &:not(:last-of-type) {
      margin-bottom: spacing(32);
    }
  }
}
