.list-element {
  padding: spacing(16);

  @include screen('sm') {
    display: flex;
    padding: spacing(32);
  }

  .list-element-image-wrapper {
    margin-bottom: spacing(24);
    display: flex;
    justify-content: center;

    @include screen('sm') {
      margin-bottom: 0;
      width: 50%;
    }

    .list-element-image {
      height: auto;
      align-self: center;

      @include screen('sm') {
        height: 100%;
        max-height: 100vh;
        object-fit: cover;
        padding-right: spacing(32);
      }
    }
  }
}

.list-element-content {
  &:not(.alt) {
    @include screen('sm') {
      display: flex;

      .list-element-header {
        padding: spacing(4) spacing(64);
      }
    }
  }

  &.alt {
    margin-top: spacing(16);
  }

  .list-element-header {
    .list-element-heading {
      @include font-size('h3');
    }

    .list-element-header-text {
      color: color('grey-80');
      @include font-size('sm');
    }
  }
}

.list-element-items {
  padding-top: spacing(8);
  @include font-family('display');

  .list-element-item {
    position: relative;
    margin-top: spacing(16);
    margin-left: spacing(32);

    &:before {
      position: absolute;
      color: color('green');
      margin-left: -#{spacing(32)};
    }
  }
}
