.list-element {
  padding: spacing(32) 0;

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  .container {
    @include screen('sm') {
      display: flex;

      .image-block {
        width: 50%;
        margin-right: spacing(16);
      }

      .list-element-content {
        width: 50%;
        margin-left: spacing(16);
      }
    }

    @include screen('md') {
      .image-block {
        margin-right: spacing(32);
      }

      .list-element-content {
        margin-left: spacing(32);
      }
    }

    @include screen('lg') {
      .image-block {
        margin-right: spacing(64);
      }

      .list-element-content {
        margin-left: spacing(64);
      }
    }
  }
}

.list-element-content {
  &:not(.alt) {
    margin-left: 0 !important;
    width: 100% !important;

    @include screen('lg') {
      display: flex;

      .list-element-header {
        width: 50%;
        padding-right: spacing(32);
      }

      .list-element-items {
        width: 50%;
        padding-left: spacing(32);
      }
    }
  }

  .list-element-header {
    margin-bottom: spacing(24);

    .list-element-heading {
      @include font-size('h3');
    }

    .list-element-header-text {
      color: color('grey-80');
      @include font-size('sm');
    }
  }
}

.list-element-items {
  @include font-family('display');

  .list-element-item {
    position: relative;
    margin-left: spacing(32);

    &:before {
      position: absolute;
      color: color('green');
      margin-left: -#{spacing(32)};
    }

    &:not(:last-of-type) {
      margin-bottom: spacing(16);
    }
  }
}
