body.navigation-open {
  @include screen('md', 'down') {
    overflow: hidden;

    .navigation-menus {
      pointer-events: auto;
    }
  }
}

.navigation {
  .navigation-container {
    @include screen('lg') {
      width: 1200px !important;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .navigation-banner {
    @include font-size('xs');
    background-color: color('green-dark');
    color: color('white');

    .container {
      display: flex;
      justify-content: space-between;
      padding-top: spacing(8);
      padding-bottom: spacing(8);

      &:before,
      &:after {
        display: none;
      }
    }

    .navigation-banner-location {
      z-index: 1;
      cursor: pointer;

      .icon {
        margin-right: spacing(8);
      }
    }

    .navigation-banner-notice {
      @include font-weight('bold');
      flex-grow: 1;
      text-align: center;

      @include screen('sm') {
        position: absolute;
        left: 0;
        right: 0;
      }
    }

    .navigation-banner-links {
      display: flex;
      align-items: center;
      z-index: 1;
    }

    .navigation-link-separator {
      display: inline-block;
      height: calc(100% + #{spacing(4)});
      border-right: 1px solid color('white');
      margin: 0 spacing(8);
    }
  }

  .navigation-header {
    border-bottom: 1px solid color('grey-20');

    @include screen('md') {
      border-bottom: none;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: spacing(16);
      padding-bottom: spacing(16);
    }

    .hamburger {
      position: absolute;
      left: 12px;

      @include screen('md') {
        display: none;
      }
    }

    .navigation-logo {
      object-fit: contain;
      height: 32px;
      width: 144px;

      @include screen('sm') {
        height: 40px;
        width: 180px;
      }

      @include screen('lg') {
        height: 48px;
        width: 216px;
      }
    }

    .navigation-header-categories {
      flex-grow: 1;
      margin: 0 spacing(16);
      display: none;

      @include screen('md') {
        display: flex;
      }
    }

    .navigation-header-category {
      @include font-size('xs');
      @include font-weight('semi-bold');
      margin: 0 spacing(8);
      cursor: pointer;
    }

    .navigation-header-category-active {
      color: color('green');
    }

    .navigation-header-products {
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      display: none;
    }

    .navigation-header-products-active {
      display: flex;
    }

    .navigation-header-product {
      @include font-size('xs');
      display: flex;
      align-items: center;
      padding: 0 spacing(8);
      cursor: pointer;
    }

    .navigation-header-product-active {
      .navigation-header-product-name {
        border-bottom-color: color('green');
      }
    }

    .navigation-header-product-name {
      border-bottom: 2px solid transparent;
      margin-top: 2px;
    }

    .navigation-header-buttons {
      display: none;

      @include screen('md') {
        display: block;
      }

      .button:first-child {
        margin-right: spacing(16);
      }
    }
  }

  .navigation-subheader,
  .navigation-header-products {
    height: 56px;

    @include screen('lg') {
      height: 64px;
    }
  }

  .navigation-subheader {
    background-color: color('grey-5');
    display: none;

    @include screen('md') {
      display: block;
    }
  }

  .navigation-dropdowns {
    @include box-shadow('lg');
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    border-top: 1px solid color('grey-20');
    background-color: color('white');
    display: none;

    .navigation-container {
      display: flex;
      width: 100%;
    }

    .navigation-dropdown-section {
      width: 100%;
      display: none;

      &.navigation-dropdown-section-active {
        display: flex;
      }
    }

    .navigation-dropdown {
      padding: spacing(24) 0;
      width: percentage(2/3);

      @include screen('lg') {
        width: 50%;
      }

      .navigation-dropdown-item {
        @include font-size('xs');
        display: block;
        padding: spacing(8) spacing(32);

        &:hover {
          background-color: color('grey-5');
        }
      }
    }

    .navigation-promo {
      background-color: color('grey-5');
      color: color('black');
      padding: spacing(24) spacing(48);

      width: percentage(1/3);

      @include screen('lg') {
        width: 50%;
      }

      &.navigation-promo-green {
        background-color: color('green');
        color: color('white');
      }

      :not(:last-child) {
        margin-bottom: spacing(8);
      }
    }
  }

  .navigation-dropdowns-active {
    display: block;
  }

  .navigation-divider {
    border-bottom: 1px solid color('grey-20');
  }

  .navigation-menus {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;

    @include screen('md') {
      display: none;
    }
  }

  .navigation-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    padding-top: spacing(16);
    padding-bottom: spacing(16);
    background-color: color('white');
    overflow: auto;
    transition: left 0.3s;
  }

  .navigation-main-menu {
    .navigation-main-menu-buttons {
      display: flex;
      margin-bottom: spacing(24);

      .button {
        flex-basis: 50%;

        &:first-child {
          margin-right: spacing(16);
        }
      }
    }

    .navigation-main-menu-category,
    .navigation-main-menu-link {
      padding: spacing(16) 0;
      border-bottom: 1px solid color('grey-20');
      cursor: pointer;
    }

    .navigation-main-menu-category {
      display: flex;
      align-items: center;

      :first-child {
        @include font-weight('semi-bold');
        flex-grow: 1;
      }

      .icon {
        @include font-size('h4');
        color: color('green');
      }
    }
  }

  .navigation-login-menu {
    .navigation-login-title {
      margin-top: spacing(8);
    }

    .input-block {
      margin-top: spacing(24);
    }

    .link {
      @include font-weight('semi-bold');
      display: inline-block;

      &:nth-of-type(1) {
        margin-top: spacing(24);
      }

      &:nth-of-type(2) {
        margin-top: spacing(32);
      }
    }

    .button {
      display: block;
      margin-top: spacing(24);
      margin-bottom: spacing(32);
      padding-left: spacing(48);
      padding-right: spacing(48);
    }
  }

  .navigation-category-menu {
    .navigation-category-menu-header {
      padding-bottom: spacing(16);

      .icon {
        @include font-size('h4');
        position: absolute;
        line-height: 100%;
        color: color('green');
        vertical-align: middle;
        cursor: pointer;
      }

      :last-child {
        @include font-weight('semi-bold');
        text-align: center;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        margin-top: spacing(16);
        border-bottom: 1px solid color('grey-20');
      }
    }

    .accordion {
      border-bottom-color: color('grey-20');
    }

    .accordion-content {
      padding-left: spacing(16);

      & > div {
        margin-top: spacing(32);

        &:first-child {
          margin-top: spacing(16);
        }

        &:last-child {
          margin-bottom: spacing(8);
        }
      }
    }
  }
}

.navigation-menu-open {
  left: 0 !important;
}
