.popup-video {
  position: relative;
  width: 100vw;
  height: 100vh;

  @include screen('sm') {
    @include fixed-ratio(16, 9);
    height: unset;
  }

  .popup-video-poster,
  .popup-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .popup-video-poster {
    object-fit: cover;
  }

  .popup-video-overlay {
    @include overlay('medium');
  }

  .popup-video-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: color('white');

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .eyebrow {
      color: color('white');
      align-items: center;
      margin-bottom: spacing(8);
    }

    .button {
      margin-top: spacing(24);
      margin-bottom: spacing(32);
      border-radius: 0;

      .icon {
        @include font-size('lg');
        margin-left: spacing(4);
      }
    }

    .popup-video-text {
      text-align: center;
    }
  }

  .popup-video-modal {
    @include overlay('medium');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;

    .icon {
      @include font-size('lg');
      position: absolute;
      top: spacing(16);
      right: spacing(16);
      color: color('white');
      cursor: pointer;
    }
  }

  .popup-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
}

body.popup-video-playing {
  overflow: hidden;

  .popup-video-modal {
    opacity: 1;
    pointer-events: auto;
  }

  .popup-video-iframe {
    transform: scale(0.9);
  }
}
