.promo-element {
  overflow: hidden;

  &.promo-accent {
    background-color: color('green');
    align-items: stretch;
    text-align: center;

    &:not(.promo-dark) {
      padding-top: spacing(32);
      padding-bottom: spacing(32);
    }

    &.promo-dark {
      background-color: color('green-dark');

      .promo-element-content {
        margin-top: spacing(64);

        @include screen('sm') {
          margin-top: 0;
        }

        .cta-wrapper {
          display: block;

          .link {
            color: color('white');
          }
        }
      }
    }

    @include screen('sm') {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
    }

    .container {
      flex-direction: column;

      @include screen('sm') {
        flex-direction: row;
      }
    }

    .promo-element-content {
      .eyebrow {
        color: color('white');
        align-items: center;

        @include screen('sm') {
          align-items: flex-start;
        }
      }

      .promo-element-heading,
      .promo-element-text {
        color: color('white');
      }

      .cta-wrapper {
        display: none;

        @include screen('sm') {
          display: block;
        }
      }
    }
  }

  .promo-element-image-wrapper {
    position: relative;
    width: 100%;

    .image-block {
      z-index: 1;
      position: relative;

      @include screen('sm') {
        margin: spacing(32);
      }

      @include screen('lg') {
        margin: spacing(64);
      }
    }
  }

  .promo-element-content {
    z-index: 1;
    width: 100%;
    padding-top: spacing(16);
    padding-bottom: spacing(16);

    @include screen('sm') {
      margin-top: 0;
      margin-right: spacing(16);
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include screen('md') {
      margin-right: spacing(32);
    }

    @include screen('lg') {
      margin-right: spacing(64);
    }

    .promo-element-heading {
    }

    .promo-element-heading {
      margin-bottom: spacing(12);
    }

    .promo-element-text {
      color: color('grey-70');
      @include font-size('sm');
    }

    .cta-wrapper {
      align-self: center;

      .link {
        margin-top: spacing(24);
        margin-bottom: spacing(12);
      }

      .button {
        margin-top: spacing(24);
      }

      @include screen('sm') {
        align-self: flex-start;
      }
    }
  }

  &:not(.promo-accent) {
    padding-top: spacing(16);

    .cta-wrapper .app-cta {
      align-items: flex-start;
    }
  }

  &.promo-alt {
    background-color: color('grey-5');
  }

  &.promo-accent.promo-dark {
    .promo-element-image-wrapper {
      display: flex;
      justify-content: center;
      align-self: flex-end;
      padding: 0;
    }

    .image-block {
      margin: 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    > .cta-wrapper {
      margin-top: spacing(24);

      @include screen('sm') {
        display: none;
      }
    }

    @include screen('sm') {
      flex-direction: row;
      align-items: center;
    }
  }
}

.promo-element-starbirds {
  @include star-birds('light');
  background-position: center;

  @include screen('sm') {
    background: none;

    .promo-element-image-wrapper {
      @include star-birds('light');
    }
  }
}
