.promo-element {
  overflow: hidden;
  color: color('grey');

  &.full {
    .promo-element-image-wrapper {
      padding: 0;

      svg {
        transform: scale(1.25);
        right: 2rem;
        top: 0;
      }

      .image-block {
        margin: 0;
      }
    }
  }

  &.accent {
    background: color('green');
    align-items: stretch;
    text-align: center;

    &.dark {
      background: color('green-dark');

      .promo-element-content .cta-wrapper {
        display: block;

        .link {
          color: color('white');
          @include font-weight('bold');
        }
      }
    }

    @include screen('sm') {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
    }

    .container {
      flex-direction: column;

      @include screen('sm') {
        flex-direction: row;
      }
    }

    .promo-element-content {
      .eyebrow {
        align-items: center;

        @include screen('sm') {
          align-items: flex-start;

          .eyebrow-spacer {
            margin-bottom: spacing(24);
          }
        }
      }

      .promo-element-heading,
      .promo-element-text {
        color: color('white');
      }

      .cta-wrapper {
        display: none;

        @include screen('sm') {
          display: block;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @include screen('sm') {
      flex-direction: row;
    }
  }

  .promo-element-image-wrapper {
    position: relative;
    min-width: 50%;

    svg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .image-block {
      @include screen('sm') {
        margin: spacing(32);
      }

      @include screen('lg') {
        margin: spacing(64);
      }
    }
  }

  .promo-element-content {
    width: 100%;
    padding: spacing(16) 0;

    @include screen('sm') {
      margin-top: 0;
      margin-right: spacing(16);
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include screen('md') {
      margin-right: spacing(32);
    }

    @include screen('lg') {
      margin-right: spacing(64);
    }

    .promo-element-heading {
      @include font-size('h4');
    }

    .promo-element-heading {
      margin-bottom: spacing(12);
    }

    .promo-element-text {
      color: color('grey-80');
      @include font-size('sm');
    }

    .cta-wrapper {
      align-self: center;
      margin-top: spacing(24);

      @include screen('sm') {
        align-self: flex-start;
      }
    }
  }

  .container > .cta-wrapper {
    margin-top: spacing(32);

    @include screen('sm') {
      display: none;
    }
  }
}
