.promo-element {
  padding: spacing(32) 0;
  color: color('grey');

  @include screen('sm') {
    padding: spacing(64) 0;
  }

  &.full {
    padding: 0;

    @include screen('sm') {
      .promo-element-content {
        padding: spacing(64) 0;
      }
    }
  }

  &.accent {
    background: color('green');
    align-items: stretch;
    text-align: center;

    &.dark {
      background: color('green-dark');

      .promo-element-content .cta-wrapper {
        display: block;

        .link {
          color: color('white');
          @include font-weight('bold');
        }
      }
    }

    @include screen('sm') {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: left;
    }

    .container {
      flex-direction: column;

      @include screen('sm') {
        flex-direction: row;
      }
    }

    .promo-element-content {
      .eyebrow {
        align-items: center;

        @include screen('sm') {
          align-items: flex-start;

          .eyebrow-spacer {
            margin-bottom: spacing(24);
          }
        }
      }

      .promo-element-heading,
      .promo-element-text {
        color: color('white');
      }

      .cta-wrapper {
        display: none;

        @include screen('sm') {
          display: block;
        }
      }
    }
  }

  &.full.accent {
    .promo-element-content {
      padding-top: spacing(32);

      .cta-wrapper {
        display: block;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @include screen('sm') {
      flex-direction: row;

      .image-block {
        min-width: 50%;
      }

      .promo-element-content {
        width: 50%;
        margin-right: spacing(16);
      }
    }

    @include screen('md') {
      .promo-element-content {
        margin-right: spacing(32);
      }
    }

    @include screen('lg') {
      .promo-element-content {
        margin-right: spacing(64);
      }
    }
  }

  .promo-element-content {
    margin-top: spacing(12);
    margin-bottom: spacing(32);

    @include screen('sm') {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .promo-element-heading {
      @include font-size('h4');
    }

    .promo-element-heading {
      margin-bottom: spacing(12);
    }

    .promo-element-text {
      color: color('grey-80');
      @include font-size('sm');
    }

    .cta-wrapper {
      align-self: center;
      margin-top: spacing(24);

      @include screen('sm') {
        align-self: flex-start;
      }
    }
  }

  .container > .cta-wrapper {
    margin-top: spacing(32);

    @include screen('sm') {
      display: none;
    }
  }
}
