.pull-quote {
  position: relative;
  text-align: center;
  padding: spacing(48) spacing(16);

  @include screen('sm') {
    padding: spacing(48) spacing(24);
  }

  @include screen('sm') {
    padding: spacing(64) spacing(24);
  }

  .pull-quote-outer-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: spacing(48) + spacing(32);

    @include screen('sm') {
      flex-direction: row;
      align-items: flex-end;
    }

    @include screen('md') {
      padding-bottom: 0;
    }
  }

  .pull-quote-middle-wrapper {
    display: flex;
    flex-direction: column;

    @include screen('sm') {
      flex-direction: row;
      margin-right: spacing(24);
    }
  }

  .pull-quote-inner-wrapper {
    @include screen('sm') {
      text-align: left;
    }

    @include screen('md') {
      position: relative;
      padding-bottom: spacing(48) + spacing(32);
    }

    @include screen('lg') {
      padding-bottom: spacing(96);
    }
  }

  .eyebrow {
    align-items: center;
    margin-bottom: spacing(8);
  }

  .pull-quote-title {
    margin-bottom: spacing(32);
  }

  .image-overlap {
    @include screen('sm') {
      width: percentage(5 / 12);
      flex-shrink: 0;
      order: 1;
    }
  }

  .fa-quote-left {
    @include font-size('h1');
    display: block;
    color: color('green');
    margin: spacing(32) 0;

    @include screen('sm') {
      margin: 0;
      margin-right: spacing(32);
    }
  }

  blockquote {
    @include font-size('lg');
    font-style: italic;
    line-height: 1.5;
  }

  .pull-quote-author {
    @include font-size('base');
    margin-top: spacing(24);
    margin-bottom: spacing(4);

    @include screen('sm') {
      margin-top: spacing(48);
      margin-bottom: spacing(8);
    }

    @include screen('md') {
      margin-top: spacing(32);
    }
  }

  .pull-quote-description {
    @include font-size('sm');
  }

  .pull-quote-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: spacing(48);

    @include screen('md') {
      right: unset;
      bottom: 0;
    }

    @include screen('lg') {
      bottom: spacing(32);
    }
  }

  .pull-quote-pagination {
    margin: 0 spacing(32);
  }
}
