.pull-quote {
  padding: spacing(64) spacing(16);
  text-align: center;

  .eyebrow {
    align-items: center;
    margin-bottom: spacing(8);
  }

  .fa {
    @include font-size('h1');
    display: block;
    color: color('green');
    margin-top: spacing(32);
    margin-bottom: spacing(24);
  }

  blockquote {
    @extend h4;
    line-height: 1.5;
  }

  .pull-quote-author {
    margin-top: spacing(24);
    margin-bottom: spacing(4);
  }
}
