.pull-quote {
  position: relative;
  text-align: center;
  padding-top: spacing(48);
  padding-bottom: spacing(48);

  .pull-quote-outer-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: spacing(48) + spacing(32);

    @include screen('sm') {
      flex-direction: row;
      align-items: flex-end;
    }

    @include screen('md') {
      padding-bottom: 0;
    }

    .slider {
      background: color('white');
    }
  }

  .pull-quote-middle-wrapper {
    display: flex;
    flex-direction: column;

    @include screen('sm') {
      flex-direction: row;
      margin-right: spacing(24);
    }
  }

  .pull-quote-inner-wrapper {
    @include screen('sm') {
      text-align: left;
    }

    @include screen('md') {
      position: relative;
      padding-bottom: spacing(48) + spacing(32);
    }

    @include screen('lg') {
      padding-bottom: spacing(96);
    }
  }

  .eyebrow {
    align-items: center;
    margin-bottom: spacing(8);
  }

  .pull-quote-title {
    margin-bottom: spacing(32);
  }

  .image-overlap {
    @include screen('sm') {
      width: percentage(5 / 12);
      flex-shrink: 0;
      order: 1;
    }
  }

  .icon-quote {
    @include font-size('h2');
    display: block;
    color: color('green');
    margin: spacing(32) 0;

    @include screen('sm') {
      margin: 0;
      margin-right: spacing(32);
    }
  }

  blockquote {
    @include font-size('lg');
    font-style: italic;
  }

  .pull-quote-author {
    padding-top: spacing(24);

    @include screen('sm') {
      padding-top: spacing(48);
    }

    @include screen('md') {
      padding-top: spacing(32);
    }
  }

  .pull-quote-author-name {
    @include font-size('base');
    margin-bottom: spacing(4);

    @include screen('sm') {
      margin-bottom: spacing(8);
    }
  }

  .pull-quote-author-role {
    @include font-size('sm');
  }

  .pull-quote-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: spacing(48);

    @include screen('md') {
      right: unset;
      bottom: 0;
    }

    @include screen('lg') {
      bottom: spacing(32);
    }
  }

  .pull-quote-pagination {
    width: spacing(96);
    text-align: center;
  }
}
