.recommendations {
  padding: spacing(16);

  .recommendations-heading {
    text-align: center;
    margin-bottom: spacing(16);
  }

  .recommendations-content {
    display: block;

    @include screen('sm') {
      display: flex;
      flex-wrap: wrap;
    }

    .recommendations-col {
      width: 100%;
      padding: spacing(8) 0;

      @include screen('sm') {
        width: col(4);
        margin-top: spacing(16);
        padding-left: spacing(8);
        padding-right: spacing(8);
      }
    }
  }
}
