.resource-links {
  position: relative;
  padding-top: spacing(48);
  padding-bottom: spacing(48);

  @include screen('md') {
    margin-top: spacing(48);
    padding-top: spacing(64);
  }

  .resource-links-title {
    margin-bottom: spacing(8);

    @include screen('md') {
      margin-top: spacing(8);
      margin-bottom: spacing(16);
    }
  }

  .resource-links-text {
    margin-bottom: spacing(32);
  }

  .link {
    @include font-weight('semi-bold');
    display: block;
    margin-bottom: spacing(16);

    @include screen('sm') {
      margin-bottom: spacing(24);
    }
  }
}
