.resource-links {
  position: relative;
  padding: spacing(48) spacing(16);

  @include screen('md') {
    padding-left: spacing(24);
    padding-right: spacing(24);
    margin-top: spacing(48);
  }

  @include screen('lg') {
    padding-top: spacing(64);
    padding-bottom: spacing(64);
    margin-top: spacing(64);
  }

  .eyebrow {
    @include screen('md') {
      position: absolute;
      transform: translateY(-100%);
    }
  }

  .resource-links-title {
    margin-bottom: spacing(8);

    @include screen('md') {
      margin-top: spacing(8);
      margin-bottom: spacing(16);
    }
  }

  .resource-links-text {
    margin-bottom: spacing(12);
  }

  .link {
    display: inline-block;
    margin: spacing(12) 0;
    text-decoration: none;
  }
}
