.search-hero {
  @include screen('sm') {
    margin-top: spacing(48);
    margin-bottom: spacing(48);
    padding-top: spacing(12);
    padding-bottom: spacing(12);
  }

  @include screen('md') {
    margin-top: spacing(24);
    margin-bottom: spacing(24);
    padding-top: spacing(16);
    padding-bottom: spacing(16);
  }

  @include screen('lg') {
    margin-top: spacing(32);
    margin-bottom: spacing(32);
    padding-top: spacing(24);
    padding-bottom: spacing(24);
  }

  .search-hero-wrapper {
    position: relative;
  }

  .search-hero-image {
    @include screen('sm') {
      height: auto !important;
      position: absolute;
      top: -#{spacing(12)};
      bottom: -#{spacing(12)};
      left: 10%;
      right: 0;
      z-index: -1;
    }

    @include screen('md') {
      top: -#{spacing(16)};
      bottom: -#{spacing(16)};
    }

    @include screen('lg') {
      top: -#{spacing(24)};
      bottom: -#{spacing(24)};
      left: 20%;
    }
  }

  .search-hero-card {
    background-color: color('white');
    padding: spacing(24) spacing(16);

    > :not(:last-child) {
      margin-bottom: spacing(16);
    }

    .eyebrow {
      margin-bottom: 0;
    }

    @include screen('sm') {
      @include box-shadow('md');
      width: 350px;
      padding: spacing(48) spacing(16);
    }

    @include screen('md') {
      width: 400px;
    }

    @include screen('lg') {
      width: 450px;
      padding: spacing(48) spacing(24);
    }
  }

  .search-hero-search-block {
    display: flex;

    .input-block {
      flex-grow: 1;

      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
