.storytelling {
  padding-top: spacing(32);
  padding-bottom: spacing(32);

  .accordion-items {
    display: block;
    margin-top: spacing(32);

    @include screen('sm') {
      display: none;
    }

    .accordion {
      border-bottom: 1px solid color('white');
      background-color: color('green');
      transition: background-color 300ms ease-in;

      padding: 0;

      .accordion-summary {
        color: color('white');
        padding: spacing(24) spacing(16);

        .icon {
          color: color('white');
        }

        &:before {
          display: block;
          content: '';
          border-top: 4px solid color('yellow');
          margin-left: spacing(16);
          margin-top: spacing(32);

          width: 4 * 16px; // non-fluid
        }
      }

      .accordion-content {
        background-color: color('white');
        color: color('black');
        position: relative;

        .storytelling-item-wrapper {
          padding: 0 spacing(16);
          position: absolute;
          top: 0;
        }
      }

      &.accordion-expanded {
        background-color: color('white');

        .accordion-summary {
          color: color('black');
          padding-bottom: 0;

          .icon {
            display: none;
          }
        }
      }
    }
  }

  .storytelling-items {
    height: 56vw;
    max-height: 70vh;
    display: none;
    margin-top: spacing(32);

    @include screen('sm') {
      display: flex;
    }
  }

  .storytelling-item-content {
    margin-top: spacing(16);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :not(:last-child) {
      margin-bottom: spacing(16);
    }
  }

  .storytelling-item {
    position: relative;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    flex: 1;

    padding: spacing(32) spacing(16);

    transition: all 600ms ease-in-out, background-color 150ms ease-in,
      color 150ms ease-in;

    .storytelling-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      z-index: -1;
    }

    .storytelling-item-cover {
      position: relative;
      transition: opacity 300ms ease-in-out, color 0ms;
      opacity: 1;
      height: 100%;

      display: flex;
      flex-direction: column;

      .eyebrow {
        margin-top: spacing(64);
      }

      .icon-plus {
        position: absolute;
        bottom: -#{spacing(16)};
        right: 0;
      }
    }

    .storytelling-item-wrapper {
      transition: opacity 150ms ease-in-out;
      padding: spacing(32);
      opacity: 0;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      z-index: -1;

      .storytelling-title {
        margin-bottom: spacing(8);
      }
    }

    &:not(.expanded) {
      background-color: color('green');
      color: color('white');

      &:hover {
        flex: 1.5;
        background-color: color('green-dark');

        .storytelling-item-cover {
          .storytelling-title {
            text-decoration: underline;
          }
        }
      }
    }

    &.expanded {
      flex: 3;
      cursor: default;

      .storytelling-item-cover {
        opacity: 0;
      }

      .storytelling-item-wrapper {
        transition: opacity 300ms ease-in-out 600ms;
        opacity: 1;
        z-index: 1;
      }
    }

    &:not(:last-of-type) {
      border-right: 1px solid color('grey-10');
    }
  }
}
