.video-hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  video,
  .video-hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  video {
    object-fit: cover;
  }

  .video-hero-overlay {
    @include overlay('medium');
  }

  .video-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: color('white');
    text-align: center;

    @include screen('sm') {
      padding: 0 spacing(64);
    }

    @include screen('md') {
      padding: 0 spacing(96);
    }

    @include screen('lg') {
      padding: 0 spacing(160);
    }
  }

  .video-hero-text {
    margin-top: spacing(16);
    margin-bottom: spacing(32);
  }

  .button {
    align-self: center;
    padding-left: spacing(48);
    padding-right: spacing(48);
  }
}
