.sb\:spacing-heading {
  color: color('grey-70');
  margin-bottom: spacing(12);
}

.sb\:spacing-block-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: spacing(48);
}

.sb\:spacing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb\:spacing-block {
  background-color: color('green');
  margin-bottom: spacing(12);
}

.sb\:spacing-block--padding {
  width: spacing(16);
  height: spacing(16);
  background-color: color('green-darker');
}

.sb\:spacing-block--margin {
  background-color: color('grey-20');
}

@each $name, $size in $spacings {
  .sb\:spacing--#{$name} {
    width: $size;
    height: $size;
  }

  .sb\:padding--#{$name} {
    padding: $size;
  }

  .sb\:margin--#{$name} {
    margin-top: $size;
  }
}
